@import "/node_modules/ngx-toastr/toastr";
@import "styles/fonts/fonts";
@import "/node_modules/@ng-select/ng-select/themes/default.theme.css";
@import "/node_modules/@folkehelseinstituttet/style/import/all.scss";
@import "styles/overrides/ngx-toastr";
@import "styles/variables/variables";
@import "styles/bootstrap/form-control";
@import "styles/blocks/hh-switch.block";
@import "styles/blocks/hh-card.block";
@import "styles/blocks/hh-sesjontype-radio.block";
@import "styles/blocks/hh-vertical-stadium-buttons.block";
@import "styles/blocks/hh-toggle-badge-button.block";
@import "styles/blocks/hh-registrer-aktivitet.block";
@import "styles/blocks/hh-transparent-button.block";
@import "styles/blocks/hh-input-with-icon.block";
@import "styles/blocks/hh-sesjonstatistikk.block";
@import "styles/blocks/hh-observasjoner-under-arbeid.block";
@import "styles/blocks/hh-nytt-kort-dropdown.block";
@import "styles/blocks/hh-round-checkbox-list.block";
@import "styles/blocks/hh-beskyttelsesutstyrsetting.block";
@import "styles/blocks/hh-navigasjonslenke.block";
@import "styles/blocks/hh-accordion.block";
@import "styles/blocks/hh-modal.block";
@import "styles/blocks/hh-observasjonsteller.block";
@import "styles/blocks/hh-offlinemessage.block";
@import "styles/blocks/hh-stadium-checkbox.block";
@import "styles/blocks/hh-horizontal-separator.block";
@import "styles/blocks/hh-sesjon-card.block.scss";
@import "styles/blocks/hh-hanske-tabs.block.scss";
@import "styles/blocks/hh-hanske-handhygiene-radio-btn.block.scss";
@import "styles/blocks/hh-avdeling-dropdown.block";
@import "styles/blocks/hh-nytt-kort-info.block";
@import "styles/blocks/hh-loginknapp";
@import "styles/ng-bootstrap-hacks";

// FHI design system overrides
@import "styles/overrides/fhi-card.block";
@import "styles/overrides/fhi-accordion.block";

/* You can add global styles to this file, and also import other style files */

app-lagre-skygge {
  display: contents;
}

app-slett-skygge {
  display: contents;
}

/* midlertidig fiks for tom white-space på bunnen av lange sider */
.fhi-app__main-content {
  margin-bottom: 0;
  padding-bottom: 3.5rem;
}
