<div class="container mb-3">
  <app-navigasjonslenke (lenkeKlikket)="navigerTilObservasjonerForInstitusjoner()">Tilbake til oversikt</app-navigasjonslenke>
</div>

<div class="container" *ngIf="avdeling">
  <div class="row mb-3">
    <div class="col">
      <h4>Avdeling: {{avdeling.navn}}</h4>
      <p>
        <span *ngIf="fraDato">Fra date: {{visFormatedDato(fraDato)}}</span> <br />
        <span *ngIf="tilDato">Til date: {{visFormatedDato(tilDato)}}</span>
      </p>
    </div>
  </div>
</div>

<app-spinner *ngIf="laster"></app-spinner>

<div class="container mt-5" *ngIf="!laster && !sesjoner.length">
  <div class="row">
    <div class="col text-center">
      Ingen sesjoner av valgt type funnet på denne avdelingen
    </div>
  </div>
</div>

<div class="container" *ngIf="sesjoner.length">

  <div class="row mb-2">
    <div class="col">
      <h5>Sesjoner</h5>
    </div>
  </div>

  <app-oversikt-sesjoner-visning [sesjoner]="sesjoner"
                                 (observasjonOppdatertEvent)="hentSesjonerForAvdeling()"
                                 (observasjonSlettetEvent)="hentSesjonerForAvdeling()">
  </app-oversikt-sesjoner-visning>

</div>
