
<div *ngIf="sesjon.kommentar || redigeringsmodus">
  <label for="kommentar" class="form-label"><b>Kommentar: </b></label>
  <span *ngIf="!redigeringsmodus">{{sesjon.kommentar}}</span>
  <textarea id="kommentar" class="form-control" [(ngModel)]="sesjonkopi.kommentar" (ngModelChange)="harEndretKommentar = true" *ngIf="redigeringsmodus"></textarea>
</div>

<button class="btn fhi-btn-secondary" *ngIf="!redigeringsmodus && kanRedigere" (click)="redigeringsmodus = true">Rediger kommentar</button>

<ng-container *ngIf="redigeringsmodus">
  <div class="mt-3">
    <button class="btn fhi-btn-primary me-2" [disabled]="!kanLagre()" (click)="lagre()" >Lagre</button>
    <button class="btn fhi-btn-secondary" (click)="resetState()">Avbryt</button>
  </div>

</ng-container>
