
<div class="container">
  <div class="row" *ngIf="laster">
    <app-spinner></app-spinner>
  </div>
  <div class="row">
    <div class="col" *ngIf="bruker && !laster">
      <p> Hei, {{bruker?.navn}}.
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div>Velkommen til administrasjon av Nasjonalt verktøy for observasjon av smitteforebyggende tiltak i helsetjenesten (NOST).</div>
      <ng-container *ngIf="!bruker?.erKoordinator && !bruker?.erFhiAdmin">
        <div>Du er ikke registeret som koordinator og dermed ikke tilgang til administrasjon av NOST. Ta kontakt med koordinator i din institusjon for tilgang. Hvis du er observatør, gå til nost.fhi.no.</div>
        <div class="mt-3">
          <i>Ditt pseudonym: {{bruker?.identPseudonym}}</i>
        </div>
        <div class="col-12 ml-n3">
          <button class="btn fhi-btn-secondary"
                  (click)="kopierPseudonymKlikk()">
            <fa-icon [icon]="faCopy"></fa-icon> Kopier pseudonym til utklippstavle
          </button>
        </div>
      </ng-container>
      <div class="mt-3">Les mer om <a href="https://www.fhi.no/sv/forebygging-i-helsetjenesten/handhygiene/nost/" target="_blank">NOST</a> på fhi.no. Spørsmål kan sendes til <a href="mailto:nost@fhi.no"> NOST&#64;fhi.no</a>.</div>
      <div class="mt-3"><a href="https://www.fhi.no/nettpub/nost/generelt-om-losningen2/personvernerklaring-for-nost/" target="_blank">Åpne personvernerklæringen</a></div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <a class="btn fhi-btn-primary">Logg ut</a>
    </div>
  </div>
</div>


