<div class="row mb-5">
  <app-accordion class="col-12"
                 [items]="sesjoner"
                 [headerTemplate]="isOverforingOversikt ? overforHeader : oversiktHeader"
                 [contentTemplate]="contentSesjoner">
  </app-accordion>
</div>

<!-- Header templates -->
<ng-template #oversiktHeader let-item="item">
  <div class="row w-100">
    <div class="col mb-3 mb-lg-2">
      <div class="mb-2"><strong>Type</strong></div>
      <span>{{item.type}}</span>
    </div>
    <div class="col mb-3 mb-lg-2">
      <div class="mb-2"><strong>Observatør</strong></div>
      <span>{{item.observatorNavn}}</span>
    </div>
    <div class="col mb-3 mb-lg-2">
      <div class="mb-2"><strong>Starttidspunkt</strong></div>
      <span>{{item.starttidspunkt | date:'dd.MM.yyyy HH:mm' }}</span>
    </div>
    <div class="col mb-3 mb-lg-2">
      <div class="mb-2"><strong>Registrert</strong></div>
      <span>{{item.opprettettidspunkt | date:'dd.MM.yyyy HH:mm' }}</span>
    </div>
    <div class="col mb-3 mb-lg-2">
      <div class="mb-2"><strong>Overføringsstatus</strong></div>
      <span>{{item.overforingstatus.navn}}</span>
    </div>
  </div>
</ng-template>

<ng-template #overforHeader let-item="item">
  <div class="row w-100">
    <div class="col-12 col-md-2 mb-3">
      <div class="mb-2"><strong>Avdelingsnavn</strong></div>
      <span>{{item.avdeling.navn}}</span>
    </div>
    <div class="col-12 col-md-2 mb-3">
      <div class="mb-2"><strong>Observatør</strong></div>
      <span>{{item.observatorNavn}}</span>
    </div>
    <div class="col-12 col-md-2 mb-3">
      <div class="mb-2"><strong>Type</strong></div>
      <span>{{item.type}}</span>
    </div>
    <div class="col-12 col-md-2 mb-3">
      <div class="mb-2"><strong>Registrert</strong></div>
      <span>{{item.opprettettidspunkt | date:'dd.MM.yyyy HH:mm' }}</span>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3" *ngIf="!isOverfortTilFhi(item.overforingstatus.kode)">
      <div class="mb-2 me-2">
        <button class="btn btn-sm fhi-btn-primary col-md-8" (click)="overfor(item.id, $event)">
          <fa-icon [icon]="faPaperPlane"></fa-icon>
          Overfør til FHI
        </button>
      </div>
      <div>
        <app-bekreftelsesdialog *ngIf="item.overforingstatus.kode == overforingstatusTypeKonstanter.OverfortTilKoordinator"
                                [knappTekst]="'Slett sesjon'"
                                (bekreftetEvent)="slettSesjon(item)"
                                [dialogmelding]="hentSlettemelding(item)"
                                [buttonClass]="'btn btn-sm fhi-btn-secondary col-md-8'">
        </app-bekreftelsesdialog>
      </div>
    </div>

    <div class="col-12 col-md-3 mb-3" *ngIf="isOverfortTilFhi(item.overforingstatus.kode)"></div>
    <div class="col-12 col-md-1 mb-3">
      <div *ngIf="item.overforingstatus.kode == overforingstatusTypeKonstanter.OverfortTilKoordinator" class="mt-2">
        <input type="checkbox" id="check" class="form-check-input" (click)="velgOverforTilFhi(item.id, $event)" [(ngModel)]="item.erValgt">
        <label class="ms-2" for="check">Velg</label>
      </div>
    </div>
  </div>
</ng-template>


<!-- Content template(s) -->
<ng-template #contentSesjoner let-item="item">
  <div class="mt-n3" style="padding: 0.625rem 0.75rem;">
    <div class="pb-4">
      <app-rediger-sesjonsdata [sesjon]="item"
                               [kanRedigere]="!isOverfortTilFhi(item.overforingstatus.kode)"
                               [institusjonId]="item.avdeling.institusjonId">
      </app-rediger-sesjonsdata>
    </div>
    <h3 class="text-dark mb-3"><strong>Observasjoner</strong></h3>
    <!-- Fireindikasjoner -->
    <ng-container *ngIf="item.type === SesjonType[SesjonType.FireIndikasjoner]">
      <app-rediger-fire-indikasjoner-observasjoner [kanRedigere]="!isOverfortTilFhi(item.overforingstatus.kode)"
                                                   (observasjonOppdatertEvent)="observasjonOppdatertEvent.emit(true)"
                                                   (observasjonSlettetEvent)="observasjonSlettetEvent.emit(true)"
                                                   [avdeling]="item.avdeling"
                                                   [observasjoner]="item.observasjoner"
                                                   [sesjonId]="item.id"></app-rediger-fire-indikasjoner-observasjoner>
    </ng-container>
    <!-- Håndsmykker -->
    <ng-container *ngIf="item.type === SesjonType[SesjonType.Handsmykker]">
      <app-rediger-handsmykke-observasjoner [kanRedigere]="!isOverfortTilFhi(item.overforingstatus.kode)"
                                            [sesjonId]="item.id"
                                            [observasjoner]="item.observasjoner"
                                            [avdeling]="item.avdeling"
                                            (observasjonSlettetEvent)="observasjonSlettetEvent.emit()"
                                            (observasjonOppdatertEvent)="observasjonOppdatertEvent.emit()"></app-rediger-handsmykke-observasjoner>
    </ng-container>
    <!-- Hansker -->
    <ng-container *ngIf="item.type === SesjonType[SesjonType.Hansker]">
      <app-rediger-hanske-observasjoner [kanRedigere]="!isOverfortTilFhi(item.overforingstatus.kode)"
                                        [sesjonId]="item.id"
                                        [observasjoner]="item.observasjoner"
                                        [avdeling]="item.avdeling"
                                        (observasjonSlettetEvent)="observasjonSlettetEvent.emit()"
                                        (observasjonOppdatertEvent)="observasjonOppdatertEvent.emit()"></app-rediger-hanske-observasjoner>
    </ng-container>
    <!-- Beskyttelsesutstyr -->
    <ng-container *ngIf="item.type === SesjonType[SesjonType.Beskyttelsesutstyr]">
      <app-rediger-beskyttelsesutstyr-observasjoner [kanRedigere]="!isOverfortTilFhi(item.overforingstatus.kode)"
                                                    [sesjonId]="item.id"
                                                    [observasjoner]="item.observasjoner"
                                                    [avdeling]="item.avdeling"
                                                    (observasjonSlettetEvent)="observasjonSlettetEvent.emit()"
                                                    (observasjonOppdatertEvent)="observasjonOppdatertEvent.emit()">
      </app-rediger-beskyttelsesutstyr-observasjoner>
    </ng-container>
  </div>
</ng-template>

