<div class="container">
  <ng-container *ngIf="!klinikkSomRedigeres">
    <div class="row">
      <h3>Vedlikehold av klinikker</h3>
    </div>
    <app-opprett-klinikk (klinikkOpprettetEvent)="hentKlinikker()" [institusjonId]="institusjonId" *ngIf="institusjonId > 0 && klinikkId == 0"></app-opprett-klinikk>
    <div class="row mb-5 mt-5">
      <ng-container>
        <div class="table-responsive">
          <table class="table" sortable-table (sorted)="sorter($event)">
            <thead>
              <tr>
                <td sortable-column="Navn"></td>
                <td scope="col">Avdelinger</td>
                <td class="text-end" scope="col">Handling</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let klinikk of klinikker">
                <td>{{klinikk.navn}}</td>
                <td>{{hentAvdelingsnavn(klinikk)}}</td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="navigerTilKlinikk(klinikk.id)">
                    <i class="icon-pencil"></i><span class="btn__text">Rediger klinikk</span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
      
    </div>
  </ng-container>
  <ng-container *ngIf="klinikkSomRedigeres">
    <app-rediger-en-klinikk [klinikk]="klinikkSomRedigeres"></app-rediger-en-klinikk>
  </ng-container>
  <div class="row" *ngIf="!laster && klinikker?.length == 0">
    <div class="col-12">
      <p>Det er ikke registrert noen klinikker på denne institusjonen.</p>
    </div>
  </div>
  <div class="row" *ngIf="laster">
    <app-spinner class="col-12">Laster klinikker</app-spinner>
  </div>
</div>





