<div>
  <div class="row ms-1">
    <div class="col">
      <h5>Roller</h5>
    </div>
  </div>
  <div class="row ms-1">
    <div class="col-3">
      <input type="text" class="form-control" [(ngModel)]='nyRolle.navn' placeholder="Navn">
    </div>
    <div class="col-7">
      <input type="text" class="form-control" [(ngModel)]='nyRolle.beskrivelse' placeholder="Beskrivelse">
    </div>
    <div class="col-2">
      <label></label>
      <button class="form-control btn fhi-btn-primary" (click)="opprettRolle()" [disabled]="!nyRolle.navn">Legg til</button>
    </div>
  </div>

  <div class="col-12 m-3">
    <ng-container>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Navn</th>
              <th>Beskrivelse</th>
              <th class="text-end" scope="col">Handling</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rolle of roller">
              <ng-container *ngIf="rolleSomEndres?.id !== rolle.id">
                <td>{{rolle.navn}}</td>
                <td>{{rolle.beskrivelse}}</td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="valgtRolle(rolle)">
                    <i class="icon-pencil"></i><span class="btn__text">Rediger</span>
                  </button>
                </td>
              </ng-container>
              <ng-container *ngIf="rolleSomEndres?.id === rolle.id">
                <td>{{rolleSomEndres.navn}}</td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="rolleSomEndres.beskrivelse">
                </td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="oppdaterRolle(rolleSomEndres)">
                    <i class="icon-pencil"></i><span class="btn__text">Lagre</span>
                  </button>
                  <button class="btn fhi-btn-icon" (click)="avbrytRedigering($event)">
                    <i class="icon-x"></i><span class="btn__text">Avbryt</span>
                  </button>
                </td>
              </ng-container>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
</div>
<div class="row">
  <app-spinner class="col-12" *ngIf="roller?.length == 0">Laster roller</app-spinner>
</div>
