<div class="row">
  <div class="col-12" *ngFor="let indikasjon of indikasjonTypeValg">
    <label [htmlFor]="'fireindikasjoner'+parentId.substr(4)+indikasjonTypeValg.indexOf(indikasjon)" [ngStyle]="{ 'opacity': indikasjon.disabled ? '0.5' : '1' }">
      <input type="checkbox" class="form-check-input my-2"
             [(ngModel)]="indikasjon.erValgt"
             (ngModelChange)="changed(indikasjon)"
             [id]="'fireindikasjoner'+parentId.substr(4)+indikasjonTypeValg.indexOf(indikasjon)">
      <label class="form-check-label ps-1 my-2" [for]="'fireindikasjoner'+parentId.substr(4)+indikasjonTypeValg.indexOf(indikasjon)">
        {{ indikasjon.nummer }}. {{ indikasjon.navn }}
      </label>
    </label>
  </div>
</div>


