<div class="container mb-3">
  <app-navigasjonslenke (lenkeKlikket)="navigerTilObservasjonerForInstitusjoner()">Tilbake til oversikt</app-navigasjonslenke>
</div>

<div class="container" *ngIf="avdeling">
  <div class="row mb-3">
    <div class="col">
      <h4>Avdeling: {{avdeling.navn}}</h4>
      <p>
        <span *ngIf="fraDato">Fra date: {{visFormatedDato(fraDato)}}</span> <br />
        <span *ngIf="tilDato">Til date: {{visFormatedDato(tilDato)}}</span>
      </p>
    </div>
  </div>
</div>

<app-spinner *ngIf="laster"></app-spinner>

<div class="container mt-5" *ngIf="!laster && !sesjoner.length">
  <div class="row">
    <div class="col text-center">
      Ingen sesjoner av valgt type funnet på denne avdelingen
    </div>
  </div>
</div>

<div class="container" *ngIf="sesjoner.length">

  <div class="row mb-2">
    <div class="col">
      <h5>Sesjoner</h5>
    </div>
  </div>

  <div class="row mb-5">
    <app-accordion class="col-12"
                   [items]="sesjoner"
                   [headerTemplate]="headerSesjoner"
                   [contentTemplate]="contentSesjoner">
    </app-accordion>
    <ng-template #headerSesjoner let-item="item">
      <table class="table table-borderless mb-n2">
        <thead>
          <tr class="row">
            <th class="col-3">Type</th>
            <th class="col-3">Observatør navn</th>
            <th class="col-3">Starttidspunkt</th>
            <th class="col-3">Registrerttidspunkt</th>
          </tr>
        </thead>
        <tbody>
          <tr class="row">
            <td class="col-3"><p>{{item.type}}</p></td>
            <td class="col-3"><p>{{item.observatorNavn}}</p></td>
            <td class="col-3"><p>{{visFormatedDatoMedTidspunkt(item.starttidspunkt)}}</p></td>
            <td class="col-3"><p>{{visFormatedDato(item.opprettettidspunkt)}}</p></td>
          </tr>
        </tbody>

      </table>
    </ng-template>
    <ng-template #contentSesjoner let-item="item">

      <div class="mt-n5">
        <ul class="list-unstyled">
          <li>
            <span class="mr-4"><strong>Kommentar: </strong></span>
            <span>{{item.kommentar}}</span>
          </li>
        </ul>

        <h6 class="text-dark mb-3"><strong>Observasjoner</strong></h6>
        <!-- Fireindikasjoner -->
        <ng-container *ngIf="item.type === sesjontypeAlternativer[0].navn">
          <div class="table-responsive">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th>Rolle</th>
                  <th>Indikasjoner</th>
                  <th>Aktivitet</th>
                  <th>Sekunder brukt</th>
                  <th>Hanske benyttet</th>
                  <th>Registrert</th>
                  <th>Kommentar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let obs of item.observasjoner">
                  <td>{{obs.rolle}}</td>
                  <td>
                    <ul style="padding-left: 20px;">
                      <li *ngFor="let indikasjon of obs.indikasjoner">
                        {{indikasjon}}
                      </li>
                    </ul>
                  </td>
                  <td>{{obs.aktivitet.aktivitetType.navn}}</td>
                  <td>{{obs.aktivitet.tidtakingBleUtfort ? obs.aktivitet.sekunderBrukt + ' sekund(er)' : '-' }}</td>
                  <td>{{obs.aktivitet.benyttetHanske === null ? '-' : obs.aktivitet.benyttetHanske ? "Ja" : "Nei"}}</td>
                  <td>{{visFormatedDatoMedTidspunkt(obs.registrerttidspunkt)}}</td>
                  <td>{{obs.kommentar}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </ng-container>
        <!-- Håndsmykker -->
        <ng-container *ngIf="item.type === sesjontypeAlternativer[1].navn">
          <div class="table-responsive">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th>Rolle</th>
                  <th>Handsmykke(r)</th>
                  <th>Registrert</th>
                  <th>Kommentar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let obs of item.observasjoner">
                  <td>{{obs.rolle}}</td>
                  <td>
                    <ul style="padding-left: 20px;">
                      <li *ngFor="let ht of obs.handsmykketyper">
                        {{ht}}
                      </li>
                    </ul>
                  </td>
                  <td>{{visFormatedDatoMedTidspunkt(obs.registrerttidspunkt)}}</td>
                  <td>{{obs.kommentar}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
        <!-- Beskyttelsesutstyr -->
        <ng-container *ngIf="item.type === sesjontypeAlternativer[2].navn">
          <div class="table-responsive">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th>Rolle</th>
                  <th>Setting</th>
                  <th>Benyttede utstyr</th>
                  <th>Ikke beynttede utstyr</th>
                  <th>Registrert</th>
                  <th>Kommentar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let obs of item.observasjoner">
                  <td>{{obs.rolle}}</td>
                  <td>{{obs.beskyttelsesutstyrsetting}}</td>
                  <td>
                    <ul style="padding-left: 20px;">
                      <ng-container *ngFor="let bu of obs.beskyttelsesutstyr">
                        <li *ngIf="bu.bleBenyttet">
                          {{bu.utstyrsnavn}} ({{bu.erIndikert ? 'Indikert' : 'Ikke indikert' }})
                          <ul>
                            <li>
                              {{ bu.bleBenyttetRiktig ? 'Benyttet riktig' : 'Benyttet feil' }}
                              <ng-container *ngIf="!bu.bleBenyttetRiktig">
                                <ul>
                                  <li *ngFor="let fbt of bu.feilbruktyper">{{fbt}}</li>
                                  <li *ngIf="bu.kommentar">Kommentar: {{bu.kommentar}}</li>
                                </ul>
                              </ng-container>
                            </li>
                          </ul>
                        </li>
                      </ng-container>
                    </ul>
                  </td>
                  <td>
                    <ul style="padding-left: 20px;">
                      <ng-container *ngFor="let bu of obs.beskyttelsesutstyr">
                        <li *ngIf="!bu.bleBenyttet">
                          {{bu.utstyrsnavn}} ({{bu.erIndikert ? 'Indikert' : 'Ikke indikert' }})
                        </li>
                      </ng-container>
                    </ul>
                  </td>
                  <td>{{visFormatedDatoMedTidspunkt(obs.registrerttidspunkt)}}</td>
                  <td>{{obs.kommentar}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </ng-container>
        <!-- Hansker -->
        <ng-container *ngIf="item.type === sesjontypeAlternativer[3].navn">
          <div class="table-responsive">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th>Rolle</th>
                  <th>Ved/Uten Indikasjoner</th>
                  <th>Indikasjoner</th>
                  <th>Hanske benyttet</th>
                  <th>Håndhygiene etter hanskebruk</th>
                  <th>Registrert</th>
                  <th>Kommentar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let obs of item.observasjoner">
                  <td>{{obs.rolle}}</td>
                  <td *ngIf="obs.hanskeObservasjon.hanskeMedIndikasjonTyper.length > 0">Hanske ved indikasjoner</td>
                  <td *ngIf="obs.hanskeObservasjon.hanskeUtenIndikasjonTyper.length > 0">Hanske uten indikasjoner</td>
                  <td>
                    <ul style="padding-left: 20px;" *ngIf="obs.hanskeObservasjon.hanskeMedIndikasjonTyper.length > 0">
                      <li *ngFor="let hanskeMedIndikasjonType of obs.hanskeObservasjon.hanskeMedIndikasjonTyper">
                        {{hanskeMedIndikasjonType.navn}}
                      </li>
                    </ul>
                    <ul style="padding-left: 20px;" *ngIf="obs.hanskeObservasjon.hanskeUtenIndikasjonTyper.length > 0">
                      <li *ngFor="let hanskeUtenIndikasjonType of obs.hanskeObservasjon.hanskeUtenIndikasjonTyper">
                        {{hanskeUtenIndikasjonType.navn}}
                      </li>
                    </ul>
                  </td>
                  <td style="padding-left: 40px;">{{obs.hanskeObservasjon.benyttetHanske ? "Ja" : 'Nei'}}</td>
                  <td style="padding-left: 40px;">{{obs.hanskeObservasjon.handhygieneEtterHanskebrukType.navn}}</td>
                  <td>{{visFormatedDatoMedTidspunkt(obs.registrerttidspunkt)}}</td>
                  <td>{{obs.kommentar}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          
        </ng-container>
      </div>
    </ng-template>

  </div>

</div>
