<div class="container">
  <div class="row">
    <h3 class="ml-3">Redigering av kodeverk</h3>
  </div>
  <div class="row mb-5">
    <div class="col-lg-3 mb-5 mb-lg-0">
      <ul class="list-group hh-side-menu">
        <li class="list-group-item"
            *ngFor="let kodeverk of kodeverk"
            [ngClass]="{ 'active text-black bg-primary-subtle ': kodeverk.erAktiv }"
            (click)="openComponent(kodeverk)">
          {{ kodeverk.navn }}
        </li>
      </ul>
    </div>
    <div class="col">
      <ng-container *ngIf="!kodeverkValgt">Velg et kodeverk</ng-container>
      <ng-container #kodeverkContainer>
      </ng-container>
    </div>
  </div>

  <router-outlet name="kodeverk"></router-outlet>

</div>
