<div class="hh-card-slider">

  <app-lagre-skygge [vis]="showSaveShadow"></app-lagre-skygge>

  <div [id]="kort.id"
       class="hh-card-slider__card"
       [ngClass]="{ 'hh-card-slider__card--active': kort.erAktivt }"
       [style.transform]="transform"
       [@swipeLeftRight]="animation"
       (panmove)="onPanMove($event)"
       (panend)="onPanEnd($event)"
       (click)="kortErValgt()"
       [ngStyle]="kort.erAktivt && {'background-color': farger.hentFhiFargeHexFraTekst(kort.rolle.navn)}">

    <div class="row">
      <div class="col-12">
        <app-rolle-valg-dropdown *ngIf="rollevalg" [rolleId]="kort.rolle.id" [rollevalg]="rollevalg" (rolleValgt)="velgRolle($event)"></app-rolle-valg-dropdown>
      </div>
    </div>
    <div class="hh-horizontal-separator"></div>
    <div class="row"
         cdkDropList (cdkDropListDropped)="handleValgDragDrop($event, true)"
         #listIndikert="cdkDropList"
         [cdkDropListConnectedTo]="[listIkkeIndikert]">
      <div class="col-12">
        <h2 class="h5 mb-3">Indikert</h2>
        <div class="row text-break">
          <div class="col-4 col-md-3 text-center mb-3 px-1"
               *ngFor="let valg of beskyttelsesutstyrIndikert(); let i = index;"
               cdkDrag [cdkDragData]="valg"
               (cdkDragStarted)="cardLockedInPlace = true" (cdkDragEnded)="cardLockedInPlace = false">
            <label [htmlFor]="'indikert'+kort.id.substr(4)+beskyttelsesutstyrValg.indexOf(valg)">
              <input type="checkbox"
                     [(ngModel)]="valg.bleBenyttet"
                     (change)="changed($event, valg)"
                     [id]="'indikert'+kort.id.substr(4)+beskyttelsesutstyrValg.indexOf(valg)"
                     class="hh-round-checkbox-list__input">
              <fa-stack class="hh-round-checkbox-list__iconstack">
                <fa-icon [icon]="faCircle"
                         stackItemSize="2x"
                         class="hh-round-checkbox-list__circle"
                         [ngClass]="{'hh-round-checkbox-list__circle--chosen': valg.bleBenyttet, 'hh-round-checkbox-list__circle--active': kort.erAktivt}">
                </fa-icon>
                <fa-icon [icon]="ikonTypeMap.get(valg.utstyrstype.kode)" [styles]="{ 'color': 'black' }" [inverse]="true" stackItemSize="1x" *ngIf="!valg.bleBenyttet"></fa-icon>
                <fa-icon [icon]="faCheck" [inverse]="true" [styles]="{ 'color': valg.bleBenyttetRiktig ? 'green' : 'red' }" stackItemSize="1x" *ngIf="valg.bleBenyttet"></fa-icon>
              </fa-stack>
              <br />
              <span style="font-size: 17px;"><strong>{{ valg.utstyrstype.navn }}</strong></span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-auto mx-auto">
        <div class="fhi-form-check-tile">
          <button class="btn fhi-btn-icon btn-lg mt-3" id="allTypesOfEquipmentCorrectlyUsedDisabled"  (click)="setAlleUtstyrTilRiktigBrukt($event)"><strong>Alt utstyr korrekt benyttet</strong></button>
        </div>
      </div>
    </div>
    <div class="hh-card-slider__stripe"
         cdkDropList (cdkDropListDropped)="handleValgDragDrop($event, false)"
         #listIkkeIndikert="cdkDropList"
         [cdkDropListConnectedTo]="[listIndikert]" >
      <h2 class="h5 mb-3">Ikke indikert</h2>
      <div class="custom-control custom-checkbox hh-stadium-checkbox"
           [ngClass]="{'hh-stadium-checkbox--checked':valg.bleBenyttet}"
           *ngFor="let valg of beskyttelsesutstyrIkkeIndikert(); let i = index;"
           cdkDrag [cdkDragData]="valg"
           (cdkDragStarted)="cardLockedInPlace = true" (cdkDragEnded)="cardLockedInPlace = false">

        <div class="btn-group btn-group-toggle">
          <label ngbButtonLabel>
            <input type="checkbox" class="visually-hidden" ngbButton [(ngModel)]="valg.bleBenyttet" (change)="changed($event, valg)">
            <fa-icon class="me-2" *ngIf="valg.bleBenyttet" [styles]="{ 'color': valg.bleBenyttetRiktig ? 'green' : 'red' }" [icon]="faCheck"></fa-icon>
            <span style="font-size: 17px;"><strong>{{ valg.utstyrstype.navn }}</strong></span>
          </label>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class=" d-flex flex-row mt-2 justify-content-around">
          <app-registrer-kommentar [kommentarinput]="kommentar"
                                   [institusjonid]="institusjonid"
                                   [sesjontype]="beskyttelsesutstyrsesjontype"
                                   (kommentarRegistertEvent)="registrerKommentar($event)">
          </app-registrer-kommentar>
          <button type="button" class="hh-transparent-button hh-transparent-button--small p-0" (click)="nullstillKort()">
            <span class="d-flex align-items-center"><fa-icon class="me-1" [icon]="faEraser"></fa-icon>Tøm kort</span>
          </button>
        </div>
      </div>

    </div>
  </div>

  <app-slett-skygge [vis]="showDeleteShadow"></app-slett-skygge>

  <app-info-modal [modalTekst]="observasjonMangelTekst" [visInfoModal]="visInfoModal" (lukkInfoModalEvent)="lukkInfoModal($event)"></app-info-modal>

</div>
