<div class="container">
  <app-navigasjonslenke (lenkeKlikket)="navigerTilRegistreringssideForHandsmykker(sesjon.id)">Tilbake til observasjon</app-navigasjonslenke>
  <app-sesjonsredigering-overskrift [sesjon]="sesjon" [overskrift]="'Sesjon: Håndsmykker'" [sesjonErSendtTilServer]="sesjonErSendtTilServer"></app-sesjonsredigering-overskrift>
</div>
<div *ngIf="sesjonErSendtTilServer == false" class="container">
  <div class="accordion-compact mb-4">
    <app-accordion [items]="sesjon.observasjoner"
                   [headerTemplate]="header"
                   [contentTemplate]="content">
    </app-accordion>
    <ng-template #header let-item="item">
      <div>
        <p class="mb-1"><strong>{{ item.rolle.navn }} - {{ item.registrerttidspunkt | date:'HH:mm' }}</strong></p>
        <p class="mb-0 lh-1"><small>{{ visHandsmykker(item.handsmykker) }}</small></p>
      </div>
    </ng-template>
    <ng-template #content let-item="item">
      <app-rediger-handsmykker-observasjon [observasjon]="item"
                                            [avdeling]="sesjon.avdeling"
                                            (observasjonSlettetEvent)="observasjonSlettetEventHandler($event)">
      </app-rediger-handsmykker-observasjon>
    </ng-template>
  </div>

  <div class="row mb-3">
    <div class="col-12">
      <div class="form-group">
        <input type="text"
               id="FormInput"
               class="form-control"
              
               placeholder="Legg til kommentar"
               [(ngModel)]="sesjon.kommentar"
               (ngModelChange)="sesjonService.oppdaterSesjon(sesjon)">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-offline-melding (harInternettEvent)="erOnline = $event"></app-offline-melding>
    </div>
  </div>
  <app-spinner *ngIf="sesjonSendesTilServer"></app-spinner>
  <div class="row mb-4" *ngIf="!sesjonSendesTilServer">
    <div class="col ms-auto mb-3">
      <app-slett-bekreftelsesdialog (slettetEvent)="sesjonSlettetEventHandler(sesjon.id)" [dialogmelding]="Dialogtekster.SesjonSlettBekreftelse" [erSvartFarge]="false">
        <i class="icon-trash3"></i>
        Slett sesjon
      </app-slett-bekreftelsesdialog>
    </div>
    <div class="col-auto text-end ms-auto" *ngIf="erOnline">
      <button class="btn fhi-btn-primary"
              (click)="sendTilKoordinator()"
              [disabled]="!(sesjon?.observasjoner?.length > 0)">
        Send til koordinator
      </button>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <app-navigasjonslenke [mobileCssClass]="'override-noeffect'" (lenkeKlikket)="navigerTilRegistreringssideForHandsmykker(sesjon.id)">Tilbake til observasjon</app-navigasjonslenke>
    </div>
  </div>
</div>

<div class="container" *ngIf="sesjonErSendtTilServer">
  <div class="row">
    <p>{{Dialogtekster.SesjonenErSendtTilKoordinator}}<a [routerLink]="navigerTilSendtSesjon()">{{Dialogtekster.VisInnsendtSesjon}}</a></p>
  </div>
</div>

