<div>
  <div class="row ms-1">
    <div class="col">
      <h5>Region</h5>
    </div>
  </div>
  <div class="row ms-1">
    <div class="col-3">
      <input type="text" class="form-control" [(ngModel)]='nyRegion.kode' placeholder="Kode">
    </div>
    <div class="col-3">
      <input type="text" class="form-control" [(ngModel)]='nyRegion.navn' placeholder="Navn">
    </div>
    <div class="col-6">
      <label></label>
      <button class="form-control btn fhi-btn-primary"
              [disabled]="!nyRegion.kode || !nyRegion.navn"
              (click)="opprettRegion()">
        Legg til
      </button>
    </div>
  </div>

  <div class="col-12 m-3">
    <ng-container>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Kode</th>
              <th>Navn</th>
              <th class="text-end" scope="col">Handling</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let region of regioner">
              <ng-container *ngIf="regionSomEndres?.id !== region.id">
                <td>{{region.kode}}</td>
                <td>{{region.navn}}</td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="valgtRegion(region)">
                    <i class="icon-pencil"></i><span class="btn__text">Rediger</span>
                  </button>
                </td>
              </ng-container>
              <ng-container *ngIf="regionSomEndres?.id === region.id">
                <td>{{regionSomEndres.kode}}</td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="regionSomEndres.navn">
                </td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="oppdaterRegion(regionSomEndres)">
                    <i class="icon-pencil"></i><span class="btn__text">Lagre</span>
                  </button>
                  <button class="btn fhi-btn-icon" (click)="avbrytRedigering($event)">
                    <i class="icon-x"></i><span class="btn__text">Avbryt</span>
                  </button>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
</div>
<div class="row">
  <app-spinner class="col-12" *ngIf="regioner?.length == 0">Laster regioner</app-spinner>
</div>


