
<ng-container>
  <div class="table-responsive">
    <table class="table mb-0">
      <thead>
      <tr>
        <th>Rolle</th>
        <th>Setting</th>
        <th>Benyttede utstyr</th>
        <th>Ikke benyttede utstyr</th>
        <th>Registrert</th>
        <th>Kommentar</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let observasjon of observasjoner">
        <tr *ngIf="beskyttelsesutstyrObservasjonSomEndres?.id !== observasjon.id" (click)="velgObservasjon(observasjon)" >
          <td>{{observasjon.rolle.navn}}</td>
          <td>{{observasjon.beskyttelsesutstyrsetting}}</td>
          <td>
            <ul style="padding-left: 20px;">
              <ng-container *ngFor="let bu of observasjon.beskyttelsesutstyr">
                <li *ngIf="bu.bleBenyttet">
                  {{bu.utstyrsnavn}} ({{bu.erIndikert ? 'Indikert' : 'Ikke indikert' }})
                  <ul>
                    <li>
                      {{ bu.bleBenyttetRiktig ? 'Benyttet riktig' : 'Benyttet feil' }}
                      <ng-container *ngIf="!bu.bleBenyttetRiktig">
                        <ul>
                          <li *ngFor="let fbt of bu.feilbruktyper">{{fbt}}</li>
                          <li *ngIf="bu.kommentar">Kommentar: {{bu.kommentar}}</li>
                        </ul>
                      </ng-container>
                    </li>
                  </ul>
                </li>
              </ng-container>
            </ul>
          </td>
          <td>
            <ul style="padding-left: 20px;">
              <ng-container *ngFor="let bu of observasjon.beskyttelsesutstyr">
                <li *ngIf="!bu.bleBenyttet">
                  {{bu.utstyrsnavn}} ({{bu.erIndikert ? 'Indikert' : 'Ikke indikert' }})
                </li>
              </ng-container>
            </ul>
          </td>
          <td>{{observasjon.registrerttidspunkt | date:'dd.MM.yyyy HH:mm' }}</td>
          <td>{{observasjon.kommentar}}</td>
        </tr>
        <ng-container *ngIf="beskyttelsesutstyrObservasjonSomEndres?.id === observasjon.id">
          <tr>
            <td colspan="12" class="col-12">
              <div class="form-row">
                <div class="col">
                  <app-rediger-beskyttelsesutstyr-observasjon
                    (observasjonSlettetEvent)="this.observasjonSlettetEvent.emit()"
                    (observasjonOppdatertEvent)="oppdaterObservasjonMedEndringerFraKort($event)"
                    [avdeling]="avdeling"
                    [institusjonid]="avdeling.institusjonId"
                    [isReadonly]="false"
                    [sesjonId]="this.sesjonId"
                    [observasjonId]="observasjon.id">
                  </app-rediger-beskyttelsesutstyr-observasjon>
                </div>
              </div>
            </td>
          </tr>
          <tr></tr>
          <tr>
            <td colspan="12" class="col-12">
              <div class="form-row">
                <div class="col mt-3">
    
                  <app-bekreftelsesdialog       
                    [knappTekst]="'Lagre'"
                    [disabled]="!kanOppdatereBeskyttelsesutstyrObservasjon"
                    [buttonClass]="'btn fhi-btn-primary me-3'"
                    (bekreftetEvent)="oppdaterBeskyttelsesutstyrObservasjon()"
                    [dialogmelding]="'Er du sikker på at du vil lagre endringer på observasjon med id ' + observasjon.id + '?'" >                          
                  </app-bekreftelsesdialog>
                  <app-bekreftelsesdialog 
                                      [knappTekst]="'Slett'"
                                      [buttonClass]="'btn fhi-btn-secondary me-3'"
                                      (bekreftetEvent)="slettBeskyttelsesutstyrObservasjon()" 
                                      [dialogmelding]='"Vil du slette observasjon med id: " + observasjon.id + "?"'>
                    Slett
                  </app-bekreftelsesdialog>
                  <button class="btn fhi-btn-primary bg-dark me-3"
                          (click)="avbrytRedigeringAvObservasjon($event)">
                    Avbryt
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
    
      </ng-container>
    
      </tbody>
    </table>
    
  </div>
</ng-container>

