<div class="fhi-app" id="top">
  <header class="fhi-header">

    <div class="fhi-header__brand">
      <div class="container fhi-header__brand-container d-flex">
        <div class="fhi-header__brand-content">
          <a class="fhi-header__logo" routerLink="/">
            <i class="icon-fhi-logo fhi-header__logo-icon"></i>
          </a>
          <div class="fhi-header__project">
            <span class="fhi-header__project-name">{{ prosjektnavn }}</span>
          </div>
        </div>

        <div class="fhi-utility-section d-none d-xl-flex ms-auto me-lg-7 pe-lg-4 me-xl-0 pe-xl-0">
          <p class="fhi-utility-section__group">
            <a href="javascript:void(0)" class="d-flex" [routerLink]="profilRoute">
              Profil
              <span class="icon-person ms-2 me-2"></span>
            </a>
          </p>
          <span class="fhi-utility-section__divider"></span>
          <div class="fhi-utility-section__group">
            <app-bytt-institusjon></app-bytt-institusjon>
        </div>
        </div>
      </div>
    </div>

    <div class="fhi-app__main-menu">
      <div class="container fhi-app__main-menu-container">
        <app-main-menu [prosjektnavn]="prosjektnavn"></app-main-menu>
      </div>
    </div>
  </header>

  <main class="fhi-app__main-content">
    <router-outlet></router-outlet>

  </main>
  <app-authentication-failed-modal></app-authentication-failed-modal>
  <div class="ds-scroll-to-top">
    <a [routerLink] [fragment]="'top'">
    </a>
  </div>
</div>
