<div class="mb-5" *ngIf="sesjon">
  <div class="container">
    <table class="table table-sm w-100">
      <thead>
        <tr>
          <td class="w-75"></td>
          <th class="text-end">Ant.</th>
          <th class="text-end">Prosent</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Anledninger etterlevd</th>
          <td class="text-end">{{ beregnAnledningerEtterlevd() }}</td>
          <td class="text-end">{{ beregnAnledningerEtterlevdProsent().toFixed(2)  }}</td>
        </tr>
        <tr>
          <th>Anledninger utelatt</th>
          <td class="text-end">{{ beregnAnledningerUtelatt() }}</td>
          <td class="text-end">{{ beregnAnledningerUtelattProsent().toFixed(2) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
