<div class="container">
  <app-observasjonsteller [sesjonsdata]="sesjonsdata" [url]="Urls.HandsmykkeSesjonUrl"></app-observasjonsteller>
  <h1 class="h3 mt-n4 mt-xl-0">Smykker, klokker og negler</h1>
</div>

<div class="container" *ngIf="sesjonsvisning.sesjonId != null && sesjonsvisning.kort != null && sesjonsvisning.kort.length > 0">
  <ng-container *ngFor="let kort of sesjonsvisning.kort">
    <app-handsmykker-observasjonskort (observasjonRegistrert)="registrerObservasjon($event)"
                                      (sesjonsvisningOppdatert)="oppdaterSesjonsvisning($event)"
                                      (kortErValgtEvent)="kortErValgt($event)"
                                      [kort]="kort"
                                      [sesjonsvisning]="sesjonsvisning"
                                      [rollevalg]="roller">
    </app-handsmykker-observasjonskort>
  </ng-container>
</div>

<app-nytt-kort-info [visTomForKortTekst]="visTomForKortTekst"></app-nytt-kort-info>

<app-nytt-kort-modal [roller]="roller" (onClose)="onCloseNyttKortModal($event)" (onDismiss)="onDismissNyttKortModal($event)">
</app-nytt-kort-modal>

<app-hjelpetekst [tittel]="'Tips og triks - observere håndsmykker'">
  <p>
    Du kan nå observere på de profesjonene du valgte på <b>Start observasjon</b>-siden, bytte profesjon på det enkelte kort ved å klikke på rullegardinen eller legge til nye profesjoner ved å klikke på <b>Nytt kort</b>-knappen nede til høyre.

    Du registrerer håndsmykker ved å klikke på ikonene i kortet.
    </p>
  <p>
    Følgende krav oppfyller en gyldig observasjon:
  </p>
  <p>
    <b>Enten</b>
  </p>
  <ol>
    <li>Alt OK (Ingen smykker, klokker eller lange/påsatte negler)</li>
  </ol>
  <p>
    <b>Eller</b>
  </p>
  <ol>
    <li>Minst ett observert avvik </li>
  </ol>
  <p>
    Når du er ferdig kan du dra kortet mot høyre for å lagre observasjonen.
    Hvis du har registrert noe feil så må du trykke på "Tøm kort" - da vil kortet nullstille seg.
    Hvis du ønsker å ta bort et kort fra listen kan du dra kortet mot venstre.
  </p>
</app-hjelpetekst>
