<div class="row pe-1">
  <div class="col-6 p-2 text-center" *ngFor="let indikasjon of indikasjonTypeValg">
    <label [htmlFor]="'fireindikasjoner'+parentId.substr(4)+indikasjonTypeValg.indexOf(indikasjon)" [ngStyle]="{ 'opacity': indikasjon.disabled ? '0.5' : '1' }">
      <input type="checkbox"
             [(ngModel)]="indikasjon.erValgt"
             (ngModelChange)="changed(indikasjon)"
             [disabled]="isReadonly"
             [id]="'fireindikasjoner'+parentId.substr(4)+indikasjonTypeValg.indexOf(indikasjon)"
             class="hh-round-checkbox-list__input">
      <fa-stack class="hh-round-checkbox-list__iconstack">
        <fa-icon [icon]="faCircle" stackItemSize="2x"
                 class="hh-round-checkbox-list__circle"
                 [ngClass]="{'hh-round-checkbox-list__circle--chosen': indikasjon.erValgt, 'hh-round-checkbox-list__circle--active': erAktiv}">
        </fa-icon>
        <fa-icon [icon]="ikonTypeMap.get(indikasjon.kode)" [styles]="{ 'color': 'black' }" [inverse]="true" stackItemSize="1x" *ngIf="!indikasjon.erValgt"><span [ngStyle]="{'display': (erValgt) ? 'none' : 'block'}" *ngIf="!indikasjon.erValgt">{{indikasjon.nummer}}</span></fa-icon>
        <fa-icon [icon]="faCheck" [inverse]="true" [styles]="{ 'color': '#333841' }" stackItemSize="1x" *ngIf="indikasjon.erValgt"></fa-icon>
      </fa-stack>
      <br />
      <div class="text-center"><small><strong>{{ indikasjon.navn }}</strong></small></div>
    </label>
  </div>
</div>


