<div class="container" *ngIf="visStartside">
  <div class="row mb-5">
    <div class="col-12 mb-2">
      <div class="d-flex">
        <div
          class="d-flex flex-column justify-content-between"
          *ngIf="institusjon"
        >
          <i class="icon-hospital icon-lg mt-1 me-3"></i>
        </div>
        <div>
          <p>
            <ng-container *ngIf="institusjon">
              <strong style="word-break: break-word">{{
                institusjon.navn
              }}</strong>
              <br />
            </ng-container>
            <strong>Observatør:</strong> {{ bruker?.navn }}
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-3">
      <h2 class="h5">Institusjon</h2>
      <div class="form-group">
        <select
          class="form-select"
          name="institusjon"
          id="institusjoner"
          [(ngModel)]="valgtInstitusjonAlternativId"
          (ngModelChange)="valgtInstitusjonEndret()"
        >
          <option [ngValue]="null">Velg institusjon</option>
          <option
            *ngFor="let institusjonAlternativ of institusjonAlternativer"
            [ngValue]="institusjonAlternativ.id"
          >
            {{ institusjonAlternativ.navn }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-md-6" *ngIf="institusjon">
      <h2 class="h5">Avdeling</h2>
      <div class="fhi-ng-select-wrapper fhi-autosuggest">
        <ng-select
          class="hh-avdeling-dropdown"
          [items]="institusjon?.avdelinger"
          bindLabel="navn"
          bindValue="id"
          placeholder="Velg avdeling"
          clearAllText="Slett"
          notFoundText="Ingen resultater"
          [(ngModel)]="valgtAvdelingId"
          (ngModelChange)="valgtAvdelingEndret()"
        >
        </ng-select>
      </div>
    </div>
  </div>

  <div *ngIf="institusjon">
    <div class="row mb-5">
      <div class="col">
        <h2 class="h5">Type observasjon</h2>
        
        <div class="row">
          <div class="col-md-6 col-xl-3">
            <div class="fhi-form-check-tile">
              <input
                class="fhi-form-check-tile__input form-check-input"
                type="radio"
                name="observationTypes"
                [id]="SesjonType.FireIndikasjoner" 
                [(ngModel)]="valgtSesjonType"
                [checked]="valgtSesjonType == SesjonType.FireIndikasjoner"
                [value]="SesjonType.FireIndikasjoner"
              >
              <label class="fhi-form-check-tile__label form-check-label" [for]="SesjonType.FireIndikasjoner">
                <span class="fhi-form-check-tile__label-text">4 indikasjoner</span>
              </label>
            </div>
          </div>
          
          <div class="col-md-6 col-xl-3">
            <div class="fhi-form-check-tile">
              <input
                class="fhi-form-check-tile__input form-check-input"
                type="radio"
                name="observationTypes"
                [id]="SesjonType.Handsmykker"
                [(ngModel)]="valgtSesjonType"
                [checked]="valgtSesjonType == SesjonType.Handsmykker"
                [value]="SesjonType.Handsmykker"
              >
              <label class="fhi-form-check-tile__label form-check-label" [for]="SesjonType.Handsmykker">
                <span class="fhi-form-check-tile__label-text">Smykker, klokker og negler</span>
              </label>
            </div>
          </div>
          
          <div class="col-md-6 col-xl-3">
            <div class="fhi-form-check-tile">
              <input
                class="fhi-form-check-tile__input form-check-input"
                type="radio"
                name="observationTypes"
                [id]="SesjonType.Hansker"
                [(ngModel)]="valgtSesjonType"
                [checked]="valgtSesjonType == SesjonType.Hansker"
                [value]="SesjonType.Hansker"
              >
              <label class="fhi-form-check-tile__label form-check-label" [for]="SesjonType.Hansker">
                <span class="fhi-form-check-tile__label-text">Hansker</span>
              </label>
            </div>
          </div>
          
          <div class="col-md-6 col-xl-3">
            <div class="fhi-form-check-tile">
              <input
                class="fhi-form-check-tile__input form-check-input"
                type="radio"
                name="observationTypes"
                [id]="SesjonType.Beskyttelsesutstyr"
                [(ngModel)]="valgtSesjonType"
                [checked]="valgtSesjonType == SesjonType.Beskyttelsesutstyr"
                [value]="SesjonType.Beskyttelsesutstyr"
              >
              <label class="fhi-form-check-tile__label form-check-label" [for]="SesjonType.Beskyttelsesutstyr">
                <span class="fhi-form-check-tile__label-text">Verneutstyr</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-container
      *ngIf="
        valgtSesjonType === SesjonType.InnUt ||
        valgtSesjonType === SesjonType.FireIndikasjoner ||
        valgtSesjonType === SesjonType.Hansker
      "
    >
      <div class="d-flex mt-n2 mb-5">
        <div class="d-flex mx-auto">
          <div class="me-6 me-sm-7" *ngIf="valgtSesjonType != SesjonType.Hansker">
            <h2 class="h5 text-center">Tidtaking</h2>
            <div class="d-flex">
              <span class="pe-3" [ngStyle]="{ 'font-weight': !tidtaking ? 'bold' : '' }">Av</span>
              <label class="hh-switch">
                <input type="checkbox" checked [(ngModel)]="tidtaking" />
                <span class="hh-switch__slider hh-switch__slider--round"></span>
              </label>
              <span class="ps-3" [ngStyle]="{ 'font-weight': tidtaking ? 'bold' : '' }">På</span>
            </div>
          </div>

          <div>
            <h2 class="h5 text-center">{{ valgtSesjonType == SesjonType.FireIndikasjoner ? "Hanskebruk" : "Handhygiene" }}</h2>
            <div class="d-flex">
              <span class="pe-3" [ngStyle]="{ 'font-weight': !hanskebruk ? 'bold' : '' }">Av</span>
              <label class="hh-switch">
                <input type="checkbox" checked [(ngModel)]="hanskebruk" />
                <span class="hh-switch__slider hh-switch__slider--round"></span>
              </label>
              <span class="ps-3" [ngStyle]="{ 'font-weight': hanskebruk ? 'bold' : '' }">På</span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="rollevalg?.length">
      <div class="row mb-5">
        <div class="col">
          <h2 class="h5">Velg profesjon(er)</h2>
          <div class="row">
            <div class="col-4 col-md-3 text-center mb-3" *ngFor="let valg of rollevalg; let i = index;">
              <label [htmlFor]="'profesjon'+rollevalg.indexOf(valg)">
                <input type="checkbox" [(ngModel)]="valg.erValgt" [id]="'profesjon'+rollevalg.indexOf(valg)"
                        class="hh-round-checkbox-list__input">
                <fa-stack size="lg">
                  <fa-icon [icon]="faCircle" stackItemSize="2x" [ngStyle]="{'color': valg.erValgt ? 'green' : farger.hentFhiFargeHexFraTekst(valg.rolle.navn), 'transition': 'all 600ms'}"></fa-icon>
                  <fa-icon [icon]="faUserNurse" stackItemSize="1x" *ngIf="!valg.erValgt"></fa-icon>
                  <fa-icon [icon]="faCheck" stackItemSize="1x" *ngIf="valg.erValgt"></fa-icon>
                </fa-stack>
                <br />
                <span style="font-size: 14px; word-break: break-all;">
                  {{ valg.rolle.navn }}
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </ng-container>

    <div class="row mb-5">
      <div class="col text-center">
        <button
          class="btn fhi-btn-primary"
          style="height: unset; padding: 0.575rem 1.2rem"
          (click)="startObservasjon()"
          [disabled]="kanIkkeStarteObservasjon()"
        >
          Start observasjon
        </button>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="visBeskyttelsesutstyr">
  <app-valg-for-beskyttelsesutstyr
    [roller]="rollevalg"
    [avdeling]="hentValgtAvdeling()"
  ></app-valg-for-beskyttelsesutstyr>
</ng-container>

<app-hjelpetekst [tittel]="'Tips og triks - starte observasjon'">
  <p>
    Hei, og velkommen til observasjonsmodulen. For å starte observasjon må du
    gjøre følgende:
  </p>
  <ol>
    <li>Velg institusjon</li>
    <li>Velg avdeling</li>
    <li>Velg type observasjon</li>
    <li>Velge hvilke profesjoner du ønsker å observere</li>
  </ol>
  Når du så er klar til å starte å observere, kan du klikke på
  <b>Start observasjon</b>.
</app-hjelpetekst>
