<div class="fhi-nav-tabs">
  <ul class="nav-tabs nav">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLinkActive]="['active']"
        [routerLink]="['/' + Urls.IkkeSendteSesjonerUrl]"
        >Ikke sendte</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLinkActive]="['active']"
        [routerLink]="['/' + Urls.SendteSesjonerUrl]"
        >Sendte</a
      >
    </li>
  </ul>

  <div class="tab-content">
    <ng-content></ng-content>
  </div>
</div>
