<div class="container">
  <div class="row" *ngIf="kanRedigere && !laster">
    <h3>Vedlikehold av avdelinger</h3>
  </div>
  <app-opprett-avdeling (avdelingOpprettetEvent)="hentAvdelinger()" [institusjonId]="institusjonId" *ngIf="kanOpprette()"></app-opprett-avdeling>
  <div class="row mb-5 mt-5" *ngIf="avdelinger?.length > 0">
    <input type="text" placeholder="Søk etter navn eller avdelingstype..." autofocus="" class="form-control fhi-form__form-control m-3" style="width: 350px;" [(ngModel)]="sokeord" (ngModelChange)="filtrerAvdelinger()">
  
    <ng-container>
      <div class="table-responsive">
        <table class="table" sortable-table (sorted)="sorter($event)">
          <thead>
            <tr>
              <th sortable-column="Navn"></th>
              <th sortable-column="Avdelingstype"></th>
              <th>Roller</th>
              <th class="text-end" *ngIf="kanRedigere">Handling</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let avdeling of filtrerteAvdelinger">
              <ng-container *ngIf="!kanRedigere && avdelingSomEndres?.id !== avdeling.id">
                <td>{{avdeling.navn}}</td>
                <td>{{avdeling.avdelingType.navn}}</td>
                <td>{{hentRollebeskrivelser(avdeling)}}</td>
              </ng-container>
              <ng-container>
                <ng-container *ngIf="kanRedigere && avdelingSomEndres?.id !== avdeling.id">
                  <td>{{avdeling.navn}}</td>
                  <td>{{avdeling.avdelingType.navn}}</td>
                  <td>{{hentRollebeskrivelser(avdeling)}}</td>
                  <td class="text-end py-2 align-middle">
                    <button class="btn fhi-btn-icon" (click)="setAvdelingSomEndres(avdeling)">
                      <i class="icon-pencil"></i><span class="btn__text">Rediger</span>
                    </button>
                  </td>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="kanRedigere && avdelingSomEndres?.id === avdeling.id">
                <td><input type="text" class="form-control" [(ngModel)]="avdelingSomEndres.navn"></td>
                <td>
                  <select class="form-control" id="avdelingtype" [(ngModel)]="avdelingSomEndres.avdelingTypeId">
                    <option value="0">Ikke valgt</option>
                    <option *ngFor="let type of avdelingstyper" [ngValue]="type.id" [selected]="avdelingSomEndres.avdelingTypeId == type.id">{{type.navn}}</option>
                  </select>
                </td>
                <td>
                  <ng-multiselect-dropdown [placeholder]="'Velg'"
                                           [settings]="dropdownSettings"
                                           [data]="roller"
                                           [(ngModel)]="valgteRoller">
                  </ng-multiselect-dropdown>
                </td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon mr-2"
                                (click)="oppdaterAvdeling(avdelingSomEndres)"
                                [disabled]="!kanLagres()">
                    <i class="icon-pencil"></i><span class="btn__text">Lagre</span>
                  </button>
                  <button class="my-2 btn fhi-btn-icon" (click)="avbrytRedigering($event)">
                    <i class="icon-x"></i><span class="btn__text">Avbryt</span>
                  </button>
                    <app-bekreftelsesdialog
                      [buttonClass]="'my-2 btn fhi-btn-icon'"
                      [knappTekst]="'Slett'"
                      [skalBrukeIkon] = true
                      (bekreftetEvent)="slettAvdeling(avdelingSomEndres)"
                      [dialogmelding]="'Ved å gå videre vil avdelingen og alle data bli slettet. Vil du fortsette?'">
                    </app-bekreftelsesdialog>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>
    
  </div>
  <div class="row m-3" *ngIf="!laster && avdelinger?.length == 0">
    <div class="col-12">
      <p>Det er ikke registrert noen avdelinger på denne institusjonen.</p>
    </div>
  </div>
  <div class="row" *ngIf="laster">
    <app-spinner class="col-12">Laster avdelinger</app-spinner>
  </div>
</div>





