<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Du har blitt logget ut </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
      Du har blitt logget ut av løsningen. Klikk på knappen under for å logge inn på nytt.</div>
  <div class="modal-footer">
    <a class="btn btn-outline-dark" href="/account/login">Logg inn på nytt</a>
  </div>
</ng-template>

