<div class="row mt-n4" *ngIf="harSettHjelpetekster || hjelpeteksterBleNullstilt">
  <div class="col-lg-4 col-12 py-3">
    <div *ngIf="harSettHjelpetekster && !hjelpeteksterBleNullstilt">
      <button class="btn fhi-btn-secondary btn-block" (click)="markerHjelpeteksterSomUsett()"> Vis alle hjelpetekster på nytt </button>
    </div>
    <div *ngIf="hjelpeteksterBleNullstilt">
      <i> Hjelpetekster nullstilt. Alle hjelpetekster vil nå vises på nytt etter hvert som du bruker løsningen.</i>
    </div>
  </div>
</div>
