<div class="container" *ngIf="bruker">
  <div class="row">
    <div class="col-12">
      <h2> <fa-icon [icon]="faUser"></fa-icon> Profil</h2>
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-12">
      Navn: {{bruker.navn}}
    </div>
  </div>
  <div class="row mt-1" *ngIf="bruker.hprNummer">
    <div class="col-12">
      HPR-nummer: {{bruker.hprNummer}}
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-12">
      Ident-pseudonym: {{bruker.identPseudonym}}
    </div>
  </div>

  <div *ngIf="kanBytteRolle" class="row mt-6">
    <div class="col-12">
      <div class="form-check form-check-inline ">
        <input type="radio" class="form-check-input"
               name="velgRolle"
               id="fhiAdmin"
               [(ngModel)]="valgtRolle"
               value="Administrator" />
        <label class="form-check-label" for="fhiAdmin">FHI Admin</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input"
               name="velgRolle"
               id="koordinator"
               [(ngModel)]="valgtRolle"
               value="Koordinator" />
        <label class="form-check-label" for="koordinator">Koordinator</label>
      </div>
      <a class="btn fhi-btn-primary ml-2" (click)="byttRolle()">Bytt rolle</a>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <a href="https://www.fhi.no/nettpub/nost/generelt-om-losningen2/personvernerklaring-for-nost/" target="_blank">Åpne personvernerklæringen</a>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <a class="btn fhi-btn-primary">Logg ut</a>
    </div>
  </div>

</div>


