<div class="container">
    <div class="row">
        <h5>Epost</h5>
        <button class="btn fhi-btn-primary mb-5 ms-3 col-3" (click)="apneEpostKlient()">Åpne Epost klient</button>
        <div class="row align-items-end mb-4">
            
            <div class="col-md-4">
                <label for="institusjon">Institusjon</label>
                <select class="form-select" id="institusjon" [(ngModel)]="institusjonId" (ngModelChange)="oppdaterBrukerListe()">
                    <option value="0"></option>
                    <option *ngFor="let institusjon of institusjoner" [ngValue]="institusjon.id">{{institusjon.navn}}</option>
                </select>
            </div>
            
            <div class="col-md-1">
                <label for="koordinator">koordinator</label>
                <input type="checkbox" class="form-check-input" id="koordinator" [(ngModel)]="koordinaterValgt" (ngModelChange)="oppdaterBrukerListe()" name="koordinator">
            </div>
            
            <div class="col-md-1">
                    <label for="observatorer">Observatører</label>
                    <input type="checkbox" class="form-check-input" id="observatorer" [(ngModel)]="observatorValgt" (ngModelChange)="oppdaterBrukerListe()" name="observatør">
            </div>
        </div>
        
        <div class="table-responsive mt-3">
            <table class="table" sortable-table (sorted)="sorter($event)" >
                <thead>
                    <tr>
                        <th sortable-column="Fornavn"></th>
                        <th sortable-column="Etternavn"></th>
                        <th scope="col">Epost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bruker of filtrertBrukerListe">
                        <td>{{bruker.fornavn}}</td>
                        <td>{{bruker.etternavn}}</td>
                        <td>{{bruker.epost}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>