<div class="row" *ngIf="nyInstitusjon">
  <div class="col-12">
    <div class="row mb-1">
      <div class="col-md-6">
        <label for="institusjonsnavn" class="mb-1">Navn</label>
        <input type="text" id="institusjonsnavn" class="form-control" placeholder="e.g. Oslo Universitetssykehus HF" [(ngModel)]="nyInstitusjon.institusjonsnavn">
      </div>
      <div class="col-md-2">
        <label for="forkortelse" class="mb-1">Kortnavn</label>
        <input type="text" id="forkortelse" class="form-control" placeholder="e.g. OUS" [(ngModel)]="nyInstitusjon.forkortelse">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="institusjonstype" class="mb-1">Institusjonstype</label>
        <select class="form-select" id="institusjonstype" [(ngModel)]="nyInstitusjon.institusjonTypeId" (ngModelChange)="visHelseforetakEllerRegion(nyInstitusjon.institusjonTypeId)">
          <option *ngFor="let institusjonstype of institusjonstyper" [ngValue]="institusjonstype.id">{{institusjonstype.navn}}</option>
        </select>
      </div>
      <div class="col-md-6" *ngIf="visKommune">
        <label for="kommune" class="mb-1">Kommune</label>
        <select class="form-select" id="kommune" [(ngModel)]="nyInstitusjon.kommuneId">
          <option value="0"></option>
          <option *ngFor="let kommune of kommuner" [ngValue]="kommune.id">{{kommune.navn}}</option>
        </select>
      </div>
      <div class="col-md-6" *ngIf="visHelseforetak">
        <label for="helseforetak" class="mb-1">Helseforetak</label>
        <select class="form-select" id="helseforetak" [(ngModel)]="nyInstitusjon.helseforetakId">
          <option value="0"></option>
          <option *ngFor="let helseforetak of listAvHelseforetak" [ngValue]="helseforetak.id">{{helseforetak.navn}}</option>
        </select>
      </div>
    </div>
    <div class="row mb-2">
      <h5 class="col-12">Koordinator</h5>
      <div class="col-md-3">
        <label for="koordinatorfornavn" class="mb-1">Fornavn</label>
        <input type="text" id="koordinatorfornavn" class="form-control" [(ngModel)]="nyInstitusjon.koordinatorFornavn">
      </div>
      <div class="col-md-3">
        <label for="koordinatorEtternavn" class="mb-1">Etternavn</label>
        <input type="text" id="koordinatoretternavn" class="form-control" [(ngModel)]="nyInstitusjon.koordinatorEtternavn">
      </div>
      <div class="col-md-4">
        <label for="koordinatorEpost" class="mb-1">Epost</label>
        <input type="email" id="koordinatorEpost" class="form-control" [(ngModel)]="nyInstitusjon.koordinatorEpost" [maxlength]="2147483647">
      </div>
      <div class="col-md-2">
        <label for="koordinatorhprnummer" class="mb-1">HPR-nummer</label>
        <input type="text" id="koordinatorhprnummer" class="form-control" [(ngModel)]="nyInstitusjon.koordinatorHPRnummer" [maxlength]="2147483647">
        <app-sok-hprnummer-lenke></app-sok-hprnummer-lenke>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <button class="btn fhi-btn-primary mt-1 w-100" [disabled]="kanIkkeOppretteInstitusjon()" (click)="opprettInstitusjon()">Opprett institusjon</button>
      </div>
    </div>

  </div>
