<div class="hh-nytt-kort-dropdown">
  <button class="btn hh-nytt-kort-dropdown__toggle" (click)="open()">
    <fa-icon class="me-2" [icon]="faPlus" [ngStyle]="{ 'color': '#FD7065' }"></fa-icon>
    <span class="hh-nytt-kort-dropdown__toggle__text">Nytt kort</span>
  </button>
</div>

<ng-template #content let-modal>
  <ng-container *ngIf="rollevalg">
    <div class="modal-header">
      <h4 class="d-flex align-items-center">
        Legg til nytt kort
      </h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()">
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-4 col-md-3 text-center mb-3" *ngFor="let valg of rollevalg; let i = index;">
          <label [htmlFor]="'profesjon'+rollevalg.indexOf(valg)">
            <input type="checkbox" [(ngModel)]="valg.erValgt" [id]="'profesjon'+rollevalg.indexOf(valg)"
                    class="hh-round-checkbox-list__input">
            <fa-stack size="lg">
              <fa-icon [icon]="faCircle" stackItemSize="2x" [ngStyle]="{'color': valg.erValgt ? 'green' : farger.hentFhiFargeHexFraTekst(valg.rolle.navn), 'transition': 'all 600ms'}"></fa-icon>
              <fa-icon [icon]="faUserNurse" stackItemSize="1x" *ngIf="!valg.erValgt"></fa-icon>
              <fa-icon [icon]="faCheck" stackItemSize="1x" *ngIf="valg.erValgt"></fa-icon>
            </fa-stack>
            <br />
            <span style="font-size: 14px; word-break: break-all;">
              {{ valg.rolle.navn }}
            </span>
          </label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn fhi-btn-secondary" (click)="close()">Legg til</button>
    </div>
  </ng-container>
</ng-template>
