.toast-info {
    background-color: $fhi-core-blue-3;
}
.toast-error {
    background-color: $fhi-core-red-2;
}

.toast-warning {
    background-color: $fhi-core-orange-2;
}

.toast-success {
    background-color: $fhi-core-green-2;
}

