<ng-template #defaultHeaderTemplate let-item="item" let-opened="open">
  {{item.title}}
  {{opened}}
</ng-template>

<ng-template #defaultContentTemplate let-item="item" let-opened="open">
  {{item.content}}
  {{opened}}
</ng-template>


<div class="accordion-flush" ngbAccordion [closeOthers]="true" [ngClass]="{'hh-accordion':true}">
  @for (item of items; track item) {
    <div ngbAccordionItem [collapsed]="item !== 'First'">
      <h2 ngbAccordionHeader>
        <div class="d-flex align-items-center">
          <div class="flex-grow-1 text-left">
            <button ngbAccordionButton>
              <ng-container *ngTemplateOutlet="headerTemplate || defaultHeaderTemplate, context: {item: item }"> </ng-container>
            </button>
          </div>
        </div>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-container *ngTemplateOutlet="contentTemplate || defaultContentTemplate, context: {item: item }"> </ng-container>
        </div>
      </div>
    </div>
  }
</div>

<!-- <ngb-accordion (panelChange)="panelChange($event)" [ngClass]="{'hh-accordion':true}">
  <ngb-panel *ngFor="let item of items" [id]="identifyItem(item)" cardClass="hh-accordion__card">
    <ng-template ngbPanelTitle let-opened="opened">
      <div class="d-flex align-items-center">
        <div class="flex-grow-1 text-left">
          <ng-container *ngTemplateOutlet="headerTemplate || defaultHeaderTemplate, context: {item: item, opened: opened }"> </ng-container>
        </div>
        <div class="hh-accordion__icon align-self-start">
          <fa-icon size="2x" [icon]="faAngleUp"></fa-icon>
        </div>
      </div>
    </ng-template>
    <ng-template ngbPanelContent>
        <ng-container *ngTemplateOutlet="contentTemplate || defaultContentTemplate, context: {item: item }"> </ng-container>
    </ng-template>
  </ngb-panel>
</ngb-accordion> -->
