.hh-navigasjonslenke {
  text-decoration: underline;
  .ng-fa-icon{
    color: $fhi-core-red-1;
  }

  @media screen and (min-width: 1200px){
    //padding: 0 15px;
    margin: 0 auto;
    text-align: left;
    max-width: 1140px
  }
  @media screen and (min-width: 1680px){
    max-width: 1620px
  }
  &--mobilmeny {
    @media screen and (max-width: 1199px){
      z-index: 1200;
      position: absolute;
      top: 40px;
      left: 21px;
    }
  }

}

.hh-transparent-button {
  padding-left: 0% !important;
}
