<button [ngClass]="erSvartFarge ? 'btn fhi-btn-secondary' : 'btn fhi-btn-icon'" (click)="visSlettModal(modal)">
  <ng-content></ng-content>
</button>

<ng-template #modal let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Lukk" (click)="modal.dismiss('Lukk')">
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          {{ dialogmelding }}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="d-flex justify-content-center">
      <button type="button" class="btn fhi-btn-secondary me-3" (click)="modal.dismiss('Nei')">Nei</button>
      <button type="button" class="btn fhi-btn-primary" (click)="modal.close('Ja'); slett()">Ja</button>
    </div>
  </div>
</ng-template>
