<div class="container">
  <ng-container *ngIf='!valgtSetting'>
    <div class="row mb-5">
      <div class="col">
        <h4 class="mb-4">Verneutstyr</h4>
        <div (click)='endreValgtSetting(setting)' class="hh-beskyttelsesutstyrsetting d-flex px-2 justify-content-between align-items-center" *ngFor='let setting of settinger'>
          <p class="mb-1 mx-3 font-weight-bold">{{setting.navn}}</p>
          <div>
            <fa-stack size="lg">
              <fa-icon [icon]="faCircle" stackItemSize="2x" [ngStyle]="{'color': '#DBE6EC'}"></fa-icon>
              <fa-icon [icon]="beskyttelsesutstyrsettingMapper.getIkontypeMap().get(setting.kode)" stackItemSize="1x"></fa-icon>
            </fa-stack>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf='valgtSetting'>
    <!--  På lenken under burde det muligens ikke stå "Til beskyttelsesutstyr" men heller "Velg setting".
    Enn så lenge lar vi den stå, da det står "Til beskyttelsesutstyr" i skissen.
    -->
    <app-navigasjonslenke (lenkeKlikket)="valgtSetting = null">Til verneutstyr </app-navigasjonslenke>
    <div class="d-flex align-items-center mb-5">
      <div>
        <fa-stack size="lg">
          <fa-icon [icon]="faCircle" stackItemSize="2x" [ngStyle]="{'color': '#DBE6EC'}"></fa-icon>
          <fa-icon [icon]="beskyttelsesutstyrsettingMapper.getIkontypeMap().get(valgtSetting.kode)" stackItemSize="1x"></fa-icon>
        </fa-stack>
      </div>
      <div>
        <h5>{{valgtSetting.navn}}</h5>
      </div>
    </div>
    <div class="row ml-5">
      <div class="col">
        <p><strong>Indikert verneutstyr</strong></p>
        <div class="custom-control custom-checkbox mb-3" *ngFor='let utstyr of valgtSetting.utstyrstyper'>
          <input type='checkbox' [id]="'utstyr' + utstyr.id" [(ngModel)]="utstyr.erIndikert" class="form-check-input me-3">
          <label class="custom-control-label" [htmlFor]="'utstyr' + utstyr.id">
            {{utstyr.navn}}
          </label>
        </div>
      </div>
    </div>
    <div class='d-flex justify-content-center'>
      <button *ngIf="sesjonsvisning == null" class='btn fhi-btn-primary text-center' (click)='startObservasjon()'>Start observasjon</button>
      <button *ngIf="sesjonsvisning != null" class='btn fhi-btn-primary text-center' (click)='endreSettingOgUtstyr()'>Fortsett observasjon</button>
    </div>
    <app-hjelpetekst [tittel]="'Tips og triks for valg av predefinert verneutstyr for '+valgtSetting.navn">
      <p>Du har valgt {{valgtSetting.navn}}. Det er forhåndsdefinert hva som er indikert verneutstyr for dette smitteregimet.<br /> Du kan fjerne eller legge til indikert verneutstyr ved å hake av i listen.</p>
    </app-hjelpetekst>
  </ng-container>
</div>
