<div class="container">
  <div class="row">
    <div class="row align-items-end mb-4">

      <div class="col-md-2">
        <label for="sesjonType">Intervall</label>
        <select class="form-select" id="rolle" [(ngModel)]="intervall">
          <option value="maned">Måned</option>
          <option value="tertial">Tertial</option>
          <option value="uke">Uke</option>
        </select>
      </div>

      <div class="col-md-2" *ngIf="intervall=='uke'">
        <label for="fra">Fra måned</label>
        <select class="form-select" id="maned" [(ngModel)]="fraManed">
          <option *ngFor="let maned of maneder" [ngValue]="maned.verdi">{{maned.beskrivelse}}</option>
        </select>
      </div>

      <div class="col-md-2">
        <label for="fra">Fra år</label>
        <input class="form-control" id="fraAr" type="number" [(ngModel)]="fraAr" />
      </div>

      <div class="col-md-2" *ngIf="intervall=='uke'">
        <label for="fra">Til måned</label>
        <select class="form-select" id="maned" [(ngModel)]="tilManed">
          <option *ngFor="let maned of maneder" [ngValue]="maned.verdi">{{maned.beskrivelse}}</option>
        </select>
      </div>

      <div class="col-md-2">
        <label for="til">Til år</label>
        <input class="form-control" id="tilAr" type="number" [(ngModel)]="tilAr" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="row align-items-end mb-4">

      <div class="col-md-2">
        <label for="sesjonType">Rolle</label>
        <select class="form-select" id="rolle" [(ngModel)]="rolle">
          <option value="null">Alle</option>
          <option *ngFor="let rolle of roller" [ngValue]="rolle">{{rolle.navn}}</option>
        </select>
      </div>

      <div class="col-md-2">
        <label for="sesjonType">Avdeling</label>
        <select class="form-select" id="avdeling" [(ngModel)]="avdeling">
          <option value="null">Alle</option>
          <option *ngFor="let avdeling of avdelinger" [ngValue]="avdeling">{{avdeling.navn}}</option>
        </select>
      </div>

      <div class="form-group col-12 col-md-3">
        <label style="opacity:0;">-</label>
        <br />
        <button class="btn btn-sm fhi-btn-primary me-2" (click)="hentEtterlevelseForFireindikasjoner()">Vis graf</button>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="visGraf">
    <div class="col-8">
      <fhi-angular-highcharts [diagramOptions]="prosentDiagramOptions"></fhi-angular-highcharts>
    </div>
  </div>

  <div class="row" *ngIf="visGraf">
    <div class="col-8">
      <fhi-angular-highcharts [diagramOptions]="antallDiagramOptions"></fhi-angular-highcharts>
    </div>
  </div>
</div>
