<div class="fhi-app fhi-admin-view hh-app" id="top">
  <header class="fhi-header">
    <div class="fhi-header__brand pb-5">
      <div
        class="container fhi-header__brand-container d-flex"
        [ngClass]="{ 'pb-3': !hovedmenySkalVises() }"
      >
        <div class="fhi-header__brand-content" [ngClass]="{'d-xl-flex': !skalViseAppBrand()}">
          <a class="fhi-header__logo" routerLink="/">
            <i class="icon-fhi-logo fhi-header__logo-icon"></i>
          </a>
          <div class="fhi-header__project">
            <span class="fhi-header__project-name flex-md-row">
              <span class="me-md-1 text-nowrap"
                >NOST <span class="d-none d-md-inline">-</span></span
              >
              <small
                class="d-none d-md-inline d-lg-flex flex-column justify-content-center"
                >Nasjonalt verktøy for observasjon av smitteforebyggende tiltak
                i helsetjenesten</small
              >
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="fhi-app__main-menu" *ngIf="hovedmenySkalVises()">
      <div class="fhi-app__main-menu-container">
        <app-main-menu></app-main-menu>
      </div>
    </div>
  </header>

  <main class="fhi-app__main-content">
    <router-outlet></router-outlet>
  </main>
  <!-- <app-authentication-failed-modal></app-authentication-failed-modal> -->
</div>
