<div class="container" *ngIf="institusjonId == 0">
  <div class="row">
    <h3>Vedlikehold av institusjoner</h3>
  </div>
  <app-opprett-institusjon (institusjonOpprettetEvent)="hentInstitusjoner()"></app-opprett-institusjon>

  <div class="row">
    <div class="col-12">
      <div class="row mb-5 mt-5">
        <div class="col-md-3">
            <h5>Søk etter institusjon</h5>
            <input type="text" placeholder="Navn, institusjontype" autofocus="" class="form-control fhi-form__form-control mt-1" [(ngModel)]="sokeord" (ngModelChange)="filtrerInstitusjoner()">
        </div>
        <div class="col-md-3">
            <h5>Søk etter institusjon på person</h5>
            <input type="text" placeholder="Navn på koordinator, observatør" autofocus="" class="form-control fhi-form__form-control mt-1" [(ngModel)]="sokeordPerson" (ngModelChange)="filtrerPersonerPaaInstitusjoner()">
        </div>
      </div>
    </div>
  </div>
    <ng-container>
      <div class="table-responsive">
        <table class="table mt-3" sortable-table (sorted)="sorter($event)">
          <thead>
            <tr>
              <td>HER-id</td>
              <td sortable-column="Navn"></td>
              <td>Forkortelse</td>
              <td sortable-column="Institusjonstype"></td>
              <td>Helseforetak/Kommune</td>
              <td class="text-end" scope="col">Handling</td>
            </tr>
    
          </thead>
          <tbody>
            <tr *ngFor="let institusjon of filtrertInstitusjoner">
              <td>{{institusjon.herId}}</td>
              <td>{{institusjon.navn}}</td>
              <td>{{institusjon.forkortelse}}</td>
              <td>{{institusjon.institusjontype?.navn}}</td>
              <td>{{ institusjon.helseforetak?.navn || institusjon.kommune?.navn }}</td>
              <td class="text-end py-2 align-middle">
                <button class="btn fhi-btn-icon" (click)="navigerTilInstitusjon(institusjon.id)">
                    <i class="icon-pencil"></i><span class="btn__text">Rediger</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-container>

  
  <div class="row">
    <app-spinner class="col-12" *ngIf="institusjoner?.length == 0">Laster institusjoner</app-spinner>
  </div>

</div>
<ng-container *ngIf="institusjonId > 0">
  <app-rediger-en-institusjon [institusjonId]="institusjonId" (institusjonSlettetEvent)="slettInstitusjon($event)" (institusjonOppdatertEvent)="oppdaterInstitusjon($event)"></app-rediger-en-institusjon>
</ng-container>

