<ng-template #content let-modal>
  <div class="modal-header">
    <div class="text-center">
      <h4>{{tittel}}</h4>
    </div>
    <button type="button" class="btn-close" aria-label="Lukk" (click)="modal.dismiss()">
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-md fhi-btn-primary" (click)="modal.close(harSettVerdi)">
        {{bekreftKnappTekst}}
      </button>
    </div>
  </div>
</ng-template>
