<div class="hh-card-slider">
  <div class="d-flex flex-column">
    <div class="d-flex justify-content-between" *ngIf="isReadonly == false">
      <div class="mb-3">
        <button *ngIf="!erRedigeringsmodus" class="btn fhi-btn-icon" (click)="erRedigeringsmodus = true">
          <i class="icon-pencil"></i>
          Rediger
        </button>
        <button *ngIf="erRedigeringsmodus" class="btn fhi-btn-icon" (click)="lagreObservasjon()">
          <i class="icon-check-circle"></i>
          Lagre
        </button>
      </div>
      <div class="mr-3">
        <app-slett-bekreftelsesdialog [erSvartFarge]="false" (slettetEvent)="slettObservasjon()"
                                      [dialogmelding]="Dialogtekster.ObservasjonSlettBekreftelse">
          <fa-icon [icon]="faTrashAlt"></fa-icon> Slett
        </app-slett-bekreftelsesdialog>
      </div>
    </div>
    <div class="hh-card-slider__card"
         [ngClass]="{ 'hh-card-slider__card--active': erRedigeringsmodus || isReadonly }"
         [ngStyle]=" (erRedigeringsmodus || isReadonly) && {'background-color': Farger.hentFhiFargeHexFraTekst(observasjon.rolle.navn)}">

      <div class="row pt-3 pb-0">
        <div class="col-12">
          <ng-container *ngIf="erRedigeringsmodus">
            <app-rolle-valg-dropdown [rolleId]="observasjon.rolle.id"
                                     [isReadonly]="isReadonly"
                                     [rollevalg]="avdeling.roller"
                                     (rolleValgt)="rolleValgt($event)">
            </app-rolle-valg-dropdown>
          </ng-container>
        </div>
      </div>
      <div class="row text-break" *ngIf="handsmykkevalg?.length">
        <div class="col-4 col-md-3 text-center mb-3 pt-3" *ngFor="let valg of handsmykkevalg; let i = index;">
          <label [htmlFor]="observasjon.id.substr(4)+i" [ngStyle]="{ 'opacity': valg.disabled ? '0.5' : '1' }">
            <input [disabled]="isReadonly || !erRedigeringsmodus || valg.disabled"
                   type="checkbox"
                   [(ngModel)]="valg.erValgt"
                   (ngModelChange)="changed(valg)"
                   [id]="observasjon.id.substr(4)+i"
                   class="hh-round-checkbox-list__input">
            <fa-stack class="hh-round-checkbox-list__iconstack">
              <fa-icon [icon]="faCircle"
                       stackItemSize="2x"
                       class="hh-round-checkbox-list__circle"
                       [ngClass]="{'hh-round-checkbox-list__circle--chosen': valg.erValgt, 'hh-round-checkbox-list__circle--active': erRedigeringsmodus}"></fa-icon>
              <fa-icon [icon]="ikonTypeMap.get(valg.type)" [styles]="{ 'color': 'black' }" [inverse]="true" stackItemSize="1x" *ngIf="!valg.erValgt"></fa-icon>
              <fa-icon [icon]="faCheck" [inverse]="true" [styles]="{ 'color': '#333841' }" stackItemSize="1x" *ngIf="valg.erValgt"></fa-icon>
            </fa-stack>
            <br />
            <span><small><strong>{{ valg.navn }}</strong></small></span>
          </label>
        </div>
      </div>
      <div class="row mt-n3">
        <div class="col">
          <div class="d-flex flex-row justify-content-around">
            <ng-container *ngIf="erRedigeringsmodus">
              <app-registrer-kommentar [deaktivert]="isReadonly"
                                       [kommentarinput]="observasjon.kommentar"
                                       (kommentarRegistertEvent)="registrerKommentar($event)">
              </app-registrer-kommentar>
            </ng-container>
            <ng-container *ngIf="!erRedigeringsmodus && observasjon.kommentar">
              <label><small>Kommentar: <strong data-hj-suppress>{{observasjon.kommentar}}</strong></small></label>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
