<div class="hh-modal">
  <ng-container *ngIf="valgtUtstyr">
    <div class="modal-header">
      <h4 class="d-flex align-items-center">
        <fa-stack>
          <fa-icon [icon]="faCircle" stackItemSize="2x" [styles]="{ 'color': '#DBE6EC' }"></fa-icon>
          <fa-icon [icon]="ikonTypeMap.get(valgtUtstyr.utstyrstype.kode)" [inverse]="true" [styles]="{ 'color': '#000000' }" stackItemSize="1x"></fa-icon>
        </fa-stack>
        <span class="modal-title" id="modal-basic-title">
          {{valgtUtstyr.utstyrstype.navn}}
        </span>
      </h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
    </div>

    <div class="modal-content">
      <div class="modal-body">
        <div class="form-check mb-2">
          <input class="form-check-input"
                 type="radio"
                 name="riktigBruk"
                 id="riktigBruk"
                 [disabled]="visningsmodus"
                 [value]="true"
                 [(ngModel)]="valgtUtstyr.bleBenyttetRiktig"
                 (click)="nullstillFeilbrukOgMarkerBenyttet(true)">
          <label class="form-check-label" for="riktigBruk">Riktig bruk</label>
        </div>
        <div class="form-check">
          <input class="form-check-input"
                 type="radio"
                 name="riktigBruk"
                 id="feilBruk"
                 [disabled]="visningsmodus"
                 [value]="false"
                 [(ngModel)]="valgtUtstyr.bleBenyttetRiktig"
                 (click)="nullstillFeilbrukOgMarkerBenyttet(false)">
          <label class="form-check-label" for="feilBruk">Feil bruk</label>
        </div>
        
        <div class="mt-2" *ngIf="valgtUtstyr.bleBenyttetRiktig === false">
          <ng-container *ngIf="!visningsmodus">
            <p class="lh-1">
              <small>
                <strong>Velg minst ett av alternativene under, eller fyll ut en kommentar</strong>
              </small>
            </p>
            <ng-container *ngFor="let fb of valgtUtstyr.utstyrstype.feilbruktyper">
              <div class="form-check mb-2">
                <input class="form-check-input" type="checkbox"[id]="fb.navn" [(ngModel)]="fb.erValgt" [disabled]="visningsmodus">
                <label class="form-check-label" [for]="fb.navn">
                  {{fb.navn}}
                </label>
              </div>              
            </ng-container>
          </ng-container>
          <ng-container *ngIf="visningsmodus">
            <ng-container *ngFor="let fb of valgtUtstyr.feilbruktyper">
              <div class="form-check mb-2">
                <input type="checkbox" class="form-check-input" [id]="fb.navn" [disabled]="true" [checked]="true">
                <label class="form-check-label" [for]="fb.navn">
                  {{fb.navn}}
                </label>
              </div>
            </ng-container>
          </ng-container>
          <div class="form-group mt-n3" *ngIf="visningsmodus == false">
            <label for="FormInput"></label>
            <input type="text" id="FormInput" class="form-control" placeholder="Legg til kommentar..." [(ngModel)]="valgtUtstyr.kommentar">
          </div>
          <div class="mt-3" *ngIf="visningsmodus && valgtUtstyr.kommentar">
            <span data-hj-suppress>Kommentar: <i>{{valgtUtstyr.kommentar}}</i></span>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <div class="col">
          <button type="button" *ngIf="visKnappForSlettingAvUtstyr && valgtUtstyr.bleBenyttet" class="btn btn-sm fhi-btn-primary flex-grow p-1" (click)="dismiss()">Slett utstyret</button>
        </div>
        <div class="col">
          <button type="button" class="btn" [ngClass]="visningsmodus ? 'fhi-btn-shortcut-link' : 'fhi-btn-primary'" (click)="close()" [disabled]="!kanLagre()">
            <span *ngIf="!visningsmodus">Lagre svar</span>
            <i class="icon-arrow-left icon-red" *ngIf="visningsmodus"></i>
            <span class="btn__text" *ngIf="visningsmodus">Tilbake til kort</span>
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
