<div class="container">
    <div class="row">
        <div class="row align-items-end">
          
          <div class="form-group col col-md-3">
            <label for="observator">Observatør</label>
            <select class="form-select" id="observator" [(ngModel)]="valgtObservator" (ngModelChange)="nullstillSokeresultat()">
              <option [ngValue]="null">Alle</option>
              <option *ngFor="let observator of observatorer" [ngValue]="observator.id">
                {{observator.fornavn}} {{observator.etternavn}}
                <ng-container *ngIf="observator.erDeaktivert">(deaktivert bruker)</ng-container>
              </option>
            </select>
          </div>
          <div class="form-group col col-md-2">
            <label for="sesjonType">Modul</label>
            <select class="form-select" id="sesjontype" [(ngModel)]="valgtSesjontype" (ngModelChange)="nullstillSokeresultat()">
              <option [ngValue]="null">Alle</option>
              <option *ngFor="let alternativ of sesjontypeAlternativer" [ngValue]="alternativ.verdi">{{alternativ.navn}}</option>
            </select>
          </div>

          <div class="form-group col-12 col-md-2">
            <label style="opacity:0;">-</label>
            <br />
            <button class="btn btn-sm fhi-btn-primary me-2" (click)="hentSesjoner()">Søk</button>
            <button class="btn btn-sm fhi-btn-secondary" (click)="nullstill()">Tøm filtere</button>
          </div>
          
          <div class="form-group col col-md-2">
            <label style="opacity:0;">-</label>
            <button class="btn btn-md fhi-btn-link" [disabled]="sesjonerKoordinator.length < 1" (click)="merkAlleSesjoner()">Velg alle sesjoner</button>
          </div>

          <div class="form-group col col-md-2">
            <label style="opacity:0;">-</label>
            <button class="btn fhi-btn-link" [disabled]="!harVelgtMinstEnSesjon()" (click)="overforSesjoner()">Overfør valgte sesjoner</button>
          </div>
        </div>
      </div>
  </div>

  <app-spinner *ngIf="laster"></app-spinner>

  <div class="container mt-5" *ngIf="!laster && sokGjort && !sesjoner.length">
    <div class="row">
      <div class="col text-center">
        Ingen sesjoner funnet.
      </div>
    </div>
  </div>

  <div class="container" *ngIf="sesjoner.length">

    <div class="row my-2">
      <div class="col">
        <h5>Sesjoner</h5>
        <span *ngIf="sokGjort && !sesjonerKoordinator.length">
          Ingen sesjoner klare til innsending.
        </span>
      </div>
    </div>

    <app-oversikt-sesjoner-visning [sesjoner]="sesjonerKoordinator"
                                   [isOverforingOversikt]="true"
                                   (overforEvent)="overfor($event)"
                                   (observasjonOppdatertEvent)="hentSesjoner()"
                                   (observasjonSlettetEvent)="hentSesjoner()">
    </app-oversikt-sesjoner-visning>

  </div>


  <div class="container" *ngIf="sesjonerFHI.length">
    <div class="row mb-2">
      <div class="col">
        <h5>Overførte sesjoner</h5>
      </div>
    </div>

    <app-oversikt-sesjoner-visning [sesjoner]="sesjonerFHI"
                                   [isOverforingOversikt]="true">
    </app-oversikt-sesjoner-visning>
  </div>
  <div class="row" *ngIf="laster">
    <app-spinner class="col-12">Laster sesjoner</app-spinner>
  </div>