<div>
  <ng-container *ngIf="visRedigerAvBeskyttelsesutstyrtyper">
    <div class="row">
      <div class="col">
        <h5>Beskyttelsesutstyrtyper</h5>
      </div>
    </div>

    <div class="col-12 m-3">
      <ng-container>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Kode</th>
                <th>Navn</th>
                <th class="text-end" scope="col">Handling</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let utstyrtype of utstyrtyper">
                <ng-container *ngIf="utstyrtypeSomEndres?.id !== utstyrtype.id">
                  <td>{{utstyrtype.kode}}</td>
                  <td>{{utstyrtype.navn}}</td>
                  <td class="text-end py-2 align-middle">
                    <button class="btn fhi-btn-icon" (click)="navigerTilFeilbruktyper(utstyrtype)">
                      <i class="icon-pencil"></i><span class="btn__text">Rediger feilbruktyper</span>
                    </button>
                  </td>
                </ng-container>
                <ng-container *ngIf="utstyrtypeSomEndres?.id === utstyrtype.id">
                  <td>{{utstyrtypeSomEndres.kode}}</td>
                  <td>
                    <input type="text" class="form-control" [(ngModel)]="utstyrtypeSomEndres.navn">
                  </td>
                </ng-container> 
              </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
    </div>

    <div class="row">
      <app-spinner class="col-12" *ngIf="utstyrtyper?.length == 0">Laster beskyttelsesutstyrtyper</app-spinner>
    </div>
  </ng-container>
  <ng-container *ngIf="!visRedigerAvBeskyttelsesutstyrtyper">
    <app-redigering-av-feilbruktyper [utstyrtype]='utstyrtypeSomEndres' (visRedigeringAvBeskyttelsesutstyrtyperEvent)="navigerTilBeskyttelsesutstyrtyper($event)"></app-redigering-av-feilbruktyper>
  </ng-container>
</div>
