<div class="hh-registrer-aktivitet" [ngClass]="{'hh-registrer-aktivitet--registrert': erRegistrert }">
  <span *ngIf="tidtakingUtfores" class="hh-registrer-aktivitet__circle" [ngStyle]="{'transform':'rotate('+(138+(6 * (this.sekunder % 60)))+'deg)'}"> </span>
  <button class="hh-transparent-button hh-transparent-button--large hh-transparent-button--wide" style="z-index: 2; position: relative"
          [disabled]="deaktivert"
          (click)="registrerAktivitet(modal)">
    <fa-icon [icon]="icon" class="hh-vertical-stadium-buttons__icon"></fa-icon>
    <span class="form-check-label" style="line-height: 45%" *ngIf="visTekst || sekunder === 0">
      <small><strong>{{getAktivitetTekst()}}</strong></small>
    </span>
    <small class="hh-registrer-aktivitet__sekunder-brukt" *ngIf="(tidtakingUtfores || erRegistrert) && sekunder > 0">
      <strong>{{sekunder}}s</strong>
    </small>
  </button>
</div>


<ng-template #modal let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Lukk" (click)="modal.dismiss('Lukk')">
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <p class="font-weight-bold">Ble det brukt hansker?</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="btn-group" role="group">
      <button type="button" class="btn fhi-btn-secondary" (click)="modal.close('Ja'); bekrefteRegistrering(true)">Ja</button>
      <button type="button" class="btn fhi-btn-secondary" (click)="modal.close('Nei'); bekrefteRegistrering(false)">Nei</button>
    </div>
  </div>
</ng-template>
