<ng-container *ngIf="visByttInstitusjonBoks">
  <div class="btn-group" role="group">
    <button type="button" class="btn fhi-btn-group__btn fhi-btn-group__split-btn bg-white"><b>{{valgtInstitusjon?.navn}}</b></button>
    <div class="btn-group fhi-dropdown" ngbDropdown role="group" aria-label="Button group with nested dropdown">
      <button
        type="button"
        class="btn fhi-btn-group__btn fhi-dropdown__btn fhi-btn-group__split-btn-toggler bg-white"
        aria-label="Velg noe..."
        ngbDropdownToggle
      ></button>
      <div class="dropdown-menu" ngbDropdownMenu>
        <li *ngFor="let institusjon of visteInstitusjoner">
          <button ngbDropdownItem (click)="byttInstitusjon(institusjon)"><span><b>{{institusjon.navn}}</b></span></button>
        </li>
      </div>
    </div>
  </div>
</ng-container>
