
<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>NOST</h3>
    </div>
    <app-offline-melding (harInternettEvent)="mottattInternettStatus($event)"></app-offline-melding>
    <div class="col-12" *ngIf="!mottattBrukerStatusFraServer">
      Venter på svar fra server - sjekker bruker-status
      <app-spinner> </app-spinner>
    </div>

    <div class="col-12" *ngIf="bruker?.navn && erOnline">
      <p class="mb-2">Hei, {{bruker.navn}}. </p>
      <p *ngIf="bruker?.erObservator">Velkommen til Nasjonalt verktøy for observasjon av smitteforebyggende tiltak i helsetjenesten (NOST).</p>
    </div>
  </div>

  <ng-container *ngIf="mottattBrukerStatusFraServer">

    <div *ngIf="erOnline && (erLoggetInn == false || bruker?.erObservator == false) && visForesporselRegistrering" class="row">
      <div class="col-lg-6">
        <div *ngIf="bruker?.erObservator == false">
          Du er ikke registrert som bruker av NOST. Velg en institusjon i lista og trykk på "Registrer deg".
          <div class="row my-4">
            <div class="col-12">
              <h5>Velg institusjon:</h5>
              <div class="form-group">
                <select class="form-select form-control-lg bg-white mb-2"
                        name="institusjon" id="institusjoner"
                        [(ngModel)]="valgtInstitusjon">
                  <option [ngValue]="null"></option>
                  <option *ngFor="let institusjon of institusjoner" [ngValue]="institusjon">{{institusjon.navn}}</option>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-6"><button class="btn fhi-btn-primary" [disabled]="valgtInstitusjon == null" (click)="sendForesporsel()">Registrer deg</button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="!visForesporselRegistrering">
      <div class="col-lg-6 alert-success p-2" *ngIf="visForesporselErRegistrert">
        Forespørselen din er sendt til godkjenning.
      </div>
      <div class="col-lg-6 alert-info p-2" *ngIf="visForesporselVenterPaaGodkjenning">
        Forespørselen din om brukertilgang er sendt til {{institusjon?.navn}}. Den venter på godkjenning.
      </div>
    </ng-container>
    <div *ngIf="visFeilMelding" class="row">
      <p class="col-lg-6 alert-danger p-2">Vi kunne ikke opprette deg som bruker. Send epost til <a href="mailto:nost@fhi.no">nost&#64;fhi.no</a>  </p>
    </div>

    <div class="row" *ngIf="erOnline && erLoggetInn == false">
      <div class="col-lg-4">
        <p *ngIf="erLoggetInn == false">Du er ikke logget inn. <br />
        <b>Logg inn</b> for å få tilgang til NOST.</p>
        <a href="/account/login" class="btn fhi-btn-primary">
          Logg inn
        </a>
      </div>
    </div>
    <ng-container *ngIf="erOnline && erLoggetInn && bruker?.erObservator">
      <div class="row">
        <div class="col-lg-8">
          <a [routerLink]="'/registrering'" class="btn fhi-btn-primary w-100">
            Start observasjon
          </a>
        </div>
      </div>
      <div class="row mt-3 word">
        <div class="col">
          <p>Les mer om <a href="https://www.fhi.no/sv/forebygging-i-helsetjenesten/handhygiene/nost/" target="_blank">NOST</a> på fhi.no. Spørsmål kan sendes til <a href="mailto:nost@fhi.no"> nost&#64;fhi.no</a>.</p>
          <p class="mb-4"><a href="https://www.fhi.no/nettpub/nost/generelt-om-losningen2/personvernerklaring-for-nost/" target="_blank">Åpne personvernerklæringen</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          <button class="btn fhi-btn-secondary w-100" (click)="visPseudonym()">Vis pseudonym</button>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="erVisPseudonym">
    <app-pseudonym [visInfoModal]="visInfoModal" (lukkInfoModalEvent)="lukkInfoModal($event)">
      <p class="text-break">
        <small><strong>Pseudonym:</strong> {{bruker?.identPseudonym}}</small>
      </p>
      <p>
        <button class="btn fhi-btn-icon" (click)="kopierPseudonymKlikk()">
          <i class="icon-clipboard2"></i>
          Kopier pseudonym<span class="d-none d-sm-inline"> til utklippstavle</span>
        </button>
      </p>
      <p>Pseudonym brukes kun for få tilgang til andre institusjoner</p>
    </app-pseudonym>
  </ng-container>
  <div class="row" *ngIf="erLoggetInn">
    <div class="col-lg-4 mt-3">
      <button class="btn fhi-btn-secondary">Logg ut</button>
    </div>
  </div>
</div>
