<div class="row">
  <div class="col-12 pb-2">
    <h4>[ Redigeringsmodus aktiv ]</h4>
    <i>Observasjon: {{observasjonId}}</i><br/>
    <i>Registrert: {{observasjon.registrerttidspunkt | date:'dd.MM.yyyy HH:mm' }}</i>
    <app-spinner *ngIf="observasjonLaster"></app-spinner>
  </div>
</div>
<ng-container *ngIf="!observasjonLaster && observasjon">
  <div class="hh-card-slider">
    <div class="d-flex flex-column">
      <div class="hh-card-slider__card"
           [ngClass]="{ 'hh-card-slider__card--active': true }"
           [ngStyle]="{'background-color': Farger.hentFhiFargeHexFraTekst(observasjon.rolle.navn)}">

        <div class="row">
          <div class="col-12" *ngIf="beskyttelsesutstyrIndikert().length > 0">
            <p><strong>Indikert</strong></p>
            <div class="row text-break" *ngIf="beskyttelsesutstyr?.length">
              <div class="col-4 col-md-3 text-center mb-3" *ngFor="let valg of beskyttelsesutstyrIndikert(); let i = index;">
                <label [htmlFor]="'indikert'+observasjon.id.substr(4)+i">
                  <input type="checkbox"
                         class="hh-round-checkbox-list__input"
                         [(ngModel)]="valg.bleBenyttet"
                         (change)="changed($event, valg)"
                         [id]="'indikert'+observasjon.id.substr(4)+i">

                  <fa-stack class="hh-round-checkbox-list__iconstack">
                    <fa-icon [icon]="faCircle" stackItemSize="2x"
                             class="hh-round-checkbox-list__circle"
                             [ngClass]="{ 'hh-round-checkbox-list__circle--chosen': valg.bleBenyttet, 'hh-round-checkbox-list__circle--active': true }"></fa-icon>
                    <fa-icon [icon]="ikonTypeMap.get(valg.utstyrstype.kode)" [styles]="{ 'color': 'black' }" [inverse]="true" stackItemSize="1x" *ngIf="!valg.bleBenyttet"></fa-icon>
                    <fa-icon [icon]="faCheck" [inverse]="true" [styles]="{ 'color': valg.bleBenyttetRiktig ? 'green' : 'red' }" stackItemSize="1x" *ngIf="valg.bleBenyttet"></fa-icon>
                  </fa-stack>
                  <br />
                  <span style="font-size: 17px;"><strong>{{ valg.utstyrstype.navn }}</strong></span>
                </label>
              </div>
            </div>
          </div>
          <div class="col text-center" >
            <div class="custom-control custom-checkbox hh-stadium-checkbox hh-stadium-checkbox--white" [ngClass]="{ 'hh-stadium-checkbox--disabled': isReadonly }">
              <div class="btn-group btn-group-toggle">
                <label class="w-50" ngbButtonLabel>
                  <input type="checkbox" ngbButton (click)="setAlleUtstyrTilRiktigBrukt($event)">
                  <span style="font-size: 17px;"><strong>Alt utstyr korrekt benyttet</strong></span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="hh-card-slider__stripe" *ngIf="beskyttelsesutstyrIkkeIndikert().length > 0">
          <p><strong>Ikke indikert</strong></p>
          <div class="custom-control custom-checkbox hh-stadium-checkbox"
               *ngFor="let valg of beskyttelsesutstyrIkkeIndikert(); let i = index;"
               [ngClass]="{ 'hh-stadium-checkbox--checked':valg.bleBenyttet }">
            <div class="btn-group btn-group-toggle">
              <label class="w-50" ngbButtonLabel>
                <input type="checkbox" ngbButton [(ngModel)]="valg.bleBenyttet" (change)="changed($event, valg)">
                <fa-icon class="mr-2" *ngIf="valg.bleBenyttet" [styles]="{ 'color': valg.bleBenyttetRiktig ? 'green' : 'red' }" [icon]="faCheck"></fa-icon>
                <span style="font-size: 17px;"><strong>{{ valg.utstyrstype.navn }}</strong></span>
              </label>
            </div>
          </div>
        </div>
    </div>
  </div>
  </div>
  <div *ngIf="settinger" class="row">
    <div class="col-10 col-lg-2 col-md-3 pb-2">
      <label for="setting" class="form-label">Setting</label>
      <select class="form-control" id="setting" [(ngModel)]="valgtSetting" (ngModelChange)="velgSetting()">
        <option *ngFor="let setting of sorterteSettinger()"
                [ngValue]="setting"
        >{{setting.navn}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-10 col-lg-3 col-md-4">
      <label class="form-label">Rolle</label>
      <app-rolle-valg-dropdown [rolleId]="observasjon.rolle.id"
                               [avdelingId]="avdeling.id"
                               (rolleValgt)="velgRolle($event)"
                               [customClass]="''">
      </app-rolle-valg-dropdown>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <label for="kommentar" class="form-label">Kommentar</label>
      <textarea [(ngModel)]="observasjon.kommentar" id="kommentar" (change)="registrerKommentar(observasjon.kommentar)" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </div>
</ng-container>


