<div class="container d-xl-none pb-3 mt-n5">
  <h1 class="h2">Sesjoner</h1>
</div>

<div class="container px-0">
  <app-sesjonsoversikt>
    <app-offline-melding
      (harInternettEvent)="mottattInternettStatus($event)"
      [darkmode]="true"
    ></app-offline-melding>
    <ng-container *ngIf="erOnline">
      <div class="row">
        <div class="col-lg-8 mb-4">
          <div class="d-flex">
            <label class="icon-search mt-2 me-3" for="search-sent-items"
              ><span class="visually-hidden">Filtrer listen</span></label
            >
            <input
              id="search-sent-items"
              type="search"
              class="form-control"
              placeholder="Søk etter..."
              [(ngModel)]="sokeord"
              (ngModelChange)="filtrerSesjoner()"
            />
          </div>
        </div>
      </div>
      <div class="row" data-hj-suppress>
        <div
          class="col-12 col-md-6 col-lg-4 col-xxl-3 mb-3 mb-md-5"
          *ngFor="let sesjonsvisning of sesjonerFiltrert"
        >
          <article class="fhi-card h-100">
            <div class="fhi-card__content d-flex flex-column h-100">
              <h2 class="h4 mb-0">{{ sesjonsvisning.institusjonsnavn }}</h2>
              <p>Avd: {{ sesjonsvisning.avdelingsnavn }}</p>

              <p class="small">{{ sesjonsnavnMap.get(sesjonsvisning.type) }}</p>

              <div class="mb-2 text-muted small">
                <i class="icon-calendar icon-sm align-top"></i>
                {{
                  sesjonsvisning.starttidspunkt | date : "dd.MM.yyyy HH:mm:ss"
                }}
              </div>

              <div class="text-end mt-auto">
                <a
                  [routerLink]="['/' + getSesjonstypeUrl(sesjonsvisning.type)]"
                  [queryParams]="{ sesjonId: sesjonsvisning.id }"
                  class="btn fhi-btn-shortcut-link mb-n2"
                >
                  <span class="btn__text">Se detaljer</span>
                  <i class="icon-arrow-right me-0 ms-2"></i>
                </a>
              </div>
            </div>
          </article>
        </div>
      </div>
      <app-spinner *ngIf="!harLastetSesjoner"></app-spinner>
    </ng-container>
  </app-sesjonsoversikt>
</div>
