<ng-container>
  <div class="table-responsive">
    <table class="table mb-0">
      <thead>
      <tr>
        <th>Rolle</th>
        <th>Med/Uten Indikasjoner</th>
        <th>Indikasjoner</th>
        <th>Hanske benyttet</th>
        <th>Håndhygiene etter hanskebruk</th>
        <th>Registrert</th>
        <th>Kommentar</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let observasjon of observasjoner">
        <tr (click)="velgObservasjon(observasjon)" *ngIf="hanskeObservasjonSomEndres?.id !== observasjon.id" >
          <td>{{observasjon.rolle.navn}}</td>
          <td *ngIf="observasjon.hanskeObservasjon.hanskeMedIndikasjonTyper.length > 0">Hanske med indikasjoner</td>
          <td *ngIf="observasjon.hanskeObservasjon.hanskeUtenIndikasjonTyper.length > 0">Hanske uten indikasjoner</td>
          <td *ngIf="observasjon.hanskeObservasjon.hanskeUtenIndikasjonTyper.length <= 0 && observasjon.hanskeObservasjon.hanskeMedIndikasjonTyper.length <= 0">-</td>
          <td>
            <ul style="padding-left: 20px;" *ngIf="observasjon.hanskeObservasjon.hanskeMedIndikasjonTyper.length > 0">
              <li *ngFor="let hanskeMedIndikasjonType of observasjon.hanskeObservasjon.hanskeMedIndikasjonTyper">
                {{hanskeMedIndikasjonType.navn}}
              </li>
            </ul>
            <ul style="padding-left: 20px;" *ngIf="observasjon.hanskeObservasjon.hanskeUtenIndikasjonTyper.length > 0">
              <li *ngFor="let hanskeUtenIndikasjonType of observasjon.hanskeObservasjon.hanskeUtenIndikasjonTyper">
                {{hanskeUtenIndikasjonType.navn}}
              </li>
            </ul>
          </td>
          <td>{{observasjon.hanskeObservasjon.benyttetHanske ? "Ja" : 'Nei'}}</td>
          <td>
                  <span>
                    {{ observasjon.hanskeObservasjon.handhygieneEtterHanskebrukType?.navn
                    ? observasjon.hanskeObservasjon.handhygieneEtterHanskebrukType?.navn
                    : ' '}}
                  </span>
          </td>
          <td>{{observasjon.registrerttidspunkt | date:'dd.MM.yyyy HH:mm' }}</td>
          <td>{{observasjon.kommentar}}</td>
        </tr>
        <ng-container *ngIf="hanskeObservasjonSomEndres && hanskeObservasjonSomEndres.id === observasjon.id">
          <tr>
            <td colspan="12">
              <i>ID: {{observasjon.id}}</i>
            </td>
          </tr>
          <tr>
            <td>
              <app-rolle-valg-dropdown [rolleId]="hanskeObservasjonSomEndres.rolle.id" [avdelingId]="avdeling.id" (rolleValgt)="velgRolle($event)"></app-rolle-valg-dropdown>
            </td>
            <td>
              <div class="w-100">
                <div class="d-flex justify-content-center">
                  <input type="radio" class="btn-check fhi-btn-group__check" name="btnradio" id="btnmedindikasjon" [value]="true" [(ngModel)]="hanskeMedIndikasjonerValgt" >
                  <label class="btn fhi-btn-group__btn" for="btnmedindikasjon"> Med indikasjoner</label>
                  
                  <input type="radio" class="btn-check fhi-btn-group__check" name="btnradio" id="btnutenindikasjon" [value]="false" [(ngModel)]="hanskeMedIndikasjonerValgt" >
                  <label class="btn fhi-btn-group__btn" for="btnutenindikasjon">Uten indikasjoner</label>
                </div>
              </div>
            </td>
            <td>
              <ng-container *ngIf="hanskeMedIndikasjonerValgt">
                <ul *ngFor="let hanskeMedIndikasjonType of hanskeMedIndikasjonTyper">
                  <div class="form-check">
                    <input [checked]="hanskeMedIndikasjonType.erValgt" (change)="hanskeMedIndikasjonType.erValgt = !hanskeMedIndikasjonType.erValgt" class="form-check-input" type="checkbox"  id="customCheck{{hanskeMedIndikasjonType.kode}}">
                    <label class="form-check-label" for="customCheck{{hanskeMedIndikasjonType.kode}}">
                      {{hanskeMedIndikasjonType.navn}}
                    </label>
                  </div>
                </ul>
              </ng-container>
              <ng-container *ngIf="!hanskeMedIndikasjonerValgt">
                <ul *ngFor="let hanskeUtenIndikasjonType of hanskeUtenIndikasjonTyper">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" [checked]="hanskeUtenIndikasjonType.erValgt" (change)="hanskeUtenIndikasjonType.erValgt = !hanskeUtenIndikasjonType.erValgt" id="customCheck{{hanskeUtenIndikasjonType.kode}}">
                    <label class="form-check-label" for="customCheck{{hanskeUtenIndikasjonType.kode}}">
                      {{hanskeUtenIndikasjonType.navn}}
                    </label>
                  </div>
                </ul>
              </ng-container>
            </td>
            <td>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="hanskebenyttet"
                       [disabled]="hanskeMedIndikasjonerValgt == false"
                       [checked]="hanskeObservasjonSomEndres.benyttetHanske"
                       (change)="hanskeObservasjonSomEndres.benyttetHanske = !hanskeObservasjonSomEndres.benyttetHanske"
                       >
                <label class="form-check-label" for="hanskebenyttet">
                  Hanske benyttet?
                </label>
              </div>
            </td>
            <td>
              
              <div class="w-100" *ngIf="hanskeObservasjonSomEndres.benyttetHanske">
                <div class="d-flex justify-content-center" *ngFor="let type of handhygieneEtterHanskebrukTyper">
                  <input type="radio" class="btn-check fhi-btn-group__check" id="type-{{type.navn}}" [value]="type.kode" [(ngModel)]="valgtHygieneEtterHanskebrukKode"> 
                  <label class="btn fhi-btn-group__btn" for="type-{{type.navn}}">{{type.navn}}</label>
                </div>
              </div>

              <div *ngIf="hanskeObservasjonSomEndres.benyttetHanske == false"> </div>
            </td>
            <td>{{hanskeObservasjonSomEndres.registrerttidspunkt | date:'dd.MM.yyyy HH:mm' }}</td>
            <td>
              <textarea style="width: 12rem;" [(ngModel)]="hanskeObservasjonSomEndres.kommentar" (ngModelChange)="endretKommentar($event)">{{hanskeObservasjonSomEndres.kommentar}}</textarea>
            </td>
          </tr>
          <tr></tr>
          <tr>
            <td colspan="12" class="col-12">
              <div class="form-row">
                <div class="col mt-3">
    
                  <app-bekreftelsesdialog 
                                        [knappTekst]="'Lagre'"
                                        [buttonClass]="'btn fhi-btn-primary me-3'"
                                        (bekreftetEvent)="oppdaterHanskeObservasjon()"
                                        [dialogmelding]="'Er du sikker på at du vil lagre endringer på observasjon med id ' + observasjon.id + '?'">
                  </app-bekreftelsesdialog>
                  <app-bekreftelsesdialog 
                                        [knappTekst]="'Slett'"
                                        [buttonClass]="'btn fhi-btn-secondary me-3'"
                                        (bekreftetEvent)="slettHanskeObservasjon()" 
                                        [dialogmelding]='"Vil du slette observasjon med id: " + observasjon.id + "?"'>
                  </app-bekreftelsesdialog>
                  <button class="btn fhi-btn-primary bg-dark me-3"
                          (click)="avbrytRedigeringAvObservasjon($event)">
                    Avbryt
                  </button>
    
                </div>
              </div>
            </td>
          </tr>
        </ng-container>
    
      </ng-container>
    
      </tbody>
    </table>    
  </div>
</ng-container>