<div class="container">
  <ng-container *ngIf="koordinatorer else spinner ">
    <div class="row">
      <div class="col-12">
        <button class="btn fhi-btn-primary mb-5" (click)="opprettTomKoordinator()">Opprett koordinator</button>
      </div>
    </div>
    <div class="row" *ngIf="koordinatorer">
      <h5 class="col-12">Koordinatorer</h5>
      <input type="text" placeholder="Søk etter.." autofocus="" class="form-control fhi-form__form-control my-3 ms-3" style="width: 350px;" [(ngModel)]="sokeord" (ngModelChange)="filtrerKoordinatorer()">
      <label class="col-12" *ngIf="koordinatorer.length === 0 && !nyKoordinator">Fant ingen koordinatorer på denne institusjonen</label>
      <ng-container>
        <table class="table" *ngIf="koordinatorer.length > 0 || nyKoordinator" sortable-table (sorted)="sorter($event)">
          <thead>
            <tr>
              <th sortable-column="Fornavn"></th>
              <th sortable-column="Etternavn"></th>
              <th>Epost</th>
              <th>HPR-nummer</th>
              <th>Pseudonym</th>
              <th>Deaktivert</th>
              <th>Institusjoner</th>
              <th class="text-end" scope="col">Handling</th>
            </tr>
          </thead>
          <tbody>
            
            <tr *ngIf="nyKoordinator != null">
              <td><input type="text" class="form-control" [(ngModel)]="nyKoordinator.fornavn" name="fornavn" placeholder="Fornavn"></td>
              <td><input type="text" class="form-control" [(ngModel)]="nyKoordinator.etternavn" name="etternavn" placeholder="Etternavn"></td>
              <td><input type="text" class="form-control" [(ngModel)]="nyKoordinator.epost" name="epost" placeholder="Epost"></td>
              <td>
                <input type="text" class="form-control" [(ngModel)]="nyKoordinator.hprNummer" name="hprNummer" placeholder="HPR-nummer" [maxLength]="2147483647">
                <app-sok-hprnummer-lenke></app-sok-hprnummer-lenke>
              </td>
              <td><input type="text" class="form-control" [(ngModel)]="nyKoordinator.identPseudonym" name="identPseudonym" placeholder="Pseudonym"></td>
              <td></td>
              <td>
                <ng-multiselect-dropdown [placeholder]="'Velg'"
                                         [settings]="dropdownSettings"
                                         [data]="institusjonerIHelseforetak"
                                         [(ngModel)]="valgteInstitusjoner">
                </ng-multiselect-dropdown>
              </td>
              <td class="text-end py-2 align-middle">
                <button class="btn fhi-btn-icon" [disabled]="kanOpprettes() == false" (click)="opprettKoordinator()">
                  <i class="icon-plus"></i><span class="btn__text">Opprett</span>
                </button>
                <button class="my-2 btn fhi-btn-icon" (click)="avbrytRedigering($event)">
                  <i class="icon-x"></i><span class="btn__text">Avbryt</span>
                </button>
              </td>
            </tr>

            <tr *ngFor="let koordinator of filtrertKoordinatorer">
              
              <ng-container *ngIf="!erKoordinatorSomEndres(koordinator)">
                <td>{{koordinator.fornavn}}</td>
                <td>{{koordinator.etternavn}} </td>
                <td>{{koordinator.epost}}</td>
                <td>{{koordinator.hprNummer}}</td>
                <td>
                  <app-pseudonym-dialog [tekst]="'Vis'" [identPseudonym]="koordinator.identPseudonym"></app-pseudonym-dialog>
                </td>
                <td>
                  <input type="checkbox" class="form-check-input" [(ngModel)]="koordinator.erDeaktivert" name="erDeaktivert" disabled="disabled">
                </td>
                <td>
                  {{visInstitusjonerForKoordinator(koordinator)}}
                </td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="setKoordinatorSomEndres(koordinator)">
                    <i class="icon-pencil"></i><span class="btn__text">Rediger</span>
                  </button>
                </td>

              </ng-container>
              <ng-container *ngIf="erKoordinatorSomEndres(koordinator)">
                <td><input type="text" class="form-control" [(ngModel)]="koordinatorSomEndres.fornavn" name="fornavn" placeholder="Fornavn"></td>
                <td><input type="text" class="form-control" [(ngModel)]="koordinatorSomEndres.etternavn" name="etternavn" placeholder="Etternavn"></td>
                <td><input type="text" class="form-control" [(ngModel)]="koordinatorSomEndres.epost" name="epost" placeholder="Epost"></td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="koordinatorSomEndres.endretHPRNummer" name="hprNummer" placeholder="HPR-nummer" [maxLength]="2147483647">
                  <app-sok-hprnummer-lenke></app-sok-hprnummer-lenke>
                </td>
                <td>
                  <app-pseudonym-dialog [tekst]="'Endre'"
                                        [redigerbar]="true"
                                        [identPseudonym]="koordinator.endretIdentPseudonym"
                                        (identPseudonymEndret)="identPseudonymEndret(koordinatorSomEndres, $event)">
                  </app-pseudonym-dialog>
                </td>
                <td><input type="checkbox" class="form-check-input" [(ngModel)]="koordinatorSomEndres.erDeaktivert" name="erDeaktivert"></td>
                <td>      
                  <ng-multiselect-dropdown [placeholder]="'Velg'"
                                           [settings]="dropdownSettings"
                                           [data]="institusjonerIHelseforetak"
                                           [(ngModel)]="valgteInstitusjoner">
                  </ng-multiselect-dropdown>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon"
                          (click)="oppdaterKoordinator(koordinatorSomEndres)"
                          [disabled]="kanEndres(koordinatorSomEndres) == false">
                          <i class="icon-pencil"></i><span class="btn__text">Lagre</span>
                  </button>
                  <button class="my-2 btn fhi-btn-icon" (click)="avbrytRedigering($event)">
                    <i class="icon-x"></i><span class="btn__text">Avbryt</span>
                  </button>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #spinner>
    <div class="row">
      <app-spinner class="col-12"></app-spinner>
    </div>
  </ng-template>
</div>
