<div class="container">
  <ng-container *ngIf="institusjonRapport else spinner ">
    <div class="row">
      <h3>Vedlikehold av koordinatorer</h3>
    </div>
    <div *ngIf="!institusjonRapport.helseforetak">
      <app-rediger-koordinatorer [institusjonId]="institusjonRapport.id"></app-rediger-koordinatorer>
    </div>
    <div *ngIf="institusjonRapport.helseforetak">
      <app-rediger-koordinatorer-for-helseforetak [institusjon]="institusjonRapport"></app-rediger-koordinatorer-for-helseforetak>
    </div>
  </ng-container>
  <ng-template #spinner>
    <div class="row">
      <app-spinner class="col-12"></app-spinner>
    </div>
  </ng-template>
</div>
