<div class="row">
  <h5 class="col-12 mt-2 mb-3">Opprett avdeling</h5>
  <div class="col-12 col-lg-6">
    <div class="form-row">
      <div class="form-group col-12 mb-3" >
        <label for="avdelingtype">Avdelingstype</label>
        <select class="form-select" id="avdelingtype" [(ngModel)]="nyAvdeling.avdelingTypeId">
          <option value="0">Ikke valgt</option>
          <option *ngFor="let type of avdelingstyper" [ngValue]="type.id" [selected]="nyAvdeling.avdelingTypeId == type.id">{{type.navn}}</option>
        </select>
      </div>
      <div class="form-group col-12 mb-3">
        <label for="institusjonsnavn">Navn</label>
        <input type="text" id="institusjonsnavn" class="form-control" placeholder="e.g. Nevrologisk avdeling" [(ngModel)]="nyAvdeling.navn">
      </div>
      <div class="form-group col-12 mb-4" >
        Roller som skal kunne observeres
        <div class="custom-control custom-checkbox my-1" *ngFor=  "let valg of rollevalg">
          <input type="checkbox" [(ngModel)]="valg.erValgt" [id]="'rolle'+rollevalg.indexOf(valg)" class="form-check-input">
          <label [htmlFor]="'rolle'+rollevalg.indexOf(valg)" class="custom-control-label ms-2">
            <span>{{ valg.rolle.navn }} </span>
            <span *ngIf="valg.rolle.beskrivelse != null"> - {{ valg.rolle.beskrivelse }}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row col-3">
  <button class="btn fhi-btn-primary ms-3 mt-1" [disabled]="kanIkkeOppretteAvdeling()" (click)="opprettAvdeling()">Opprett avdeling</button>
</div>
