<button class="hh-transparent-button hh-transparent-button hh-transparent-button--small p-0 h-100"
        (click)="visKommentarModal(visemodal)"
        [disabled]="deaktivert">
  <span class="d-flex align-items-center" data-hj-suppress>
    <fa-icon [icon]="faCommentLines" class="me-1"></fa-icon>
    {{labelTekst}} <ng-container *ngIf="kommentar?.length > 0">: {{kommentar}}</ng-container>
  </span>
</button>

<ng-template #visemodal let-modal>
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Lukk" (click)="modal.dismiss('Lukk')">
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row" >
        <div class="col">
          <ul class="list-unstyled p-1" *ngIf="predefinerteKommentarer">
            <li class="mb-3" style="font-size: 17px;" role="button" *ngFor="let predefinertKommentar of predefinerteKommentarer" (click)="predfinertKommentarValgt(predefinertKommentar)">
              <strong data-hj-suppress>{{predefinertKommentar}}</strong>
            </li>
          </ul>
          <textarea [(ngModel)]="kommentar" class="form-control" placeholder="Skriv notat" rows="2"></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn fhi-btn-secondary" (click)="modal.close('Ok'); registrerKommentar()">
      Tilbake til kort
    </button>
  </div>
</ng-template>
