<div>
  <div class="row">
    <div class="col">
      <h5>HanskeUtenIndikasjonTyper</h5>
    </div>
  </div>

  <div class="col-12 m-3">
    <ng-container>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Kode</th>
              <th>Navn</th>
              <th class="text-end" scope="col">Handling</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hanskeUtenIndikasjonType of hanskeUtenIndikasjonTyper">
              <ng-container *ngIf="hanskeUtenIndikasjonTypeSomEndres?.id !== hanskeUtenIndikasjonType.id">
                <td>{{hanskeUtenIndikasjonType.kode}}</td>
                <td>{{hanskeUtenIndikasjonType.navn}}</td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="valgtHanskeUtenIndikasjonType(hanskeUtenIndikasjonType)">
                    <i class="icon-pencil"></i><span class="btn__text">Rediger</span>
                  </button>
                </td>
              </ng-container>
              <ng-container *ngIf="hanskeUtenIndikasjonTypeSomEndres?.id === hanskeUtenIndikasjonType.id">
                <td>{{hanskeUtenIndikasjonTypeSomEndres.kode}}</td>
                <td>
                  <input type="text" class="form-control" [(ngModel)]="hanskeUtenIndikasjonTypeSomEndres.navn">
                </td>
                <td class="text-end py-2 align-middle">
                  <button class="btn fhi-btn-icon" (click)="oppdaterHanskeUtenIndikasjonType(hanskeUtenIndikasjonTypeSomEndres)">
                    <i class="icon-pencil"></i><span class="btn__text">Lagre</span>
                  </button>
                  <button class="btn fhi-btn-icon" (click)="avbrytRedigering($event)">
                    <i class="icon-x"></i><span class="btn__text">Avbryt</span>
                  </button>
                </td>
              </ng-container>
          </tbody>
        </table>
      </div>
    </ng-container>
  </div>
</div>
<div class="row">
  <app-spinner class="col-12" *ngIf="hanskeUtenIndikasjonTyper?.length == 0">Laster hanskeutenindikasjontyper</app-spinner>
</div>


