<div class="hh-card-slider">

  <app-lagre-skygge [vis]="showSaveShadow"></app-lagre-skygge>

  <div [id]="kort.id"
       class="hh-card-slider__card"
       [ngClass]="{ 'hh-card-slider__card--active': kort.erAktivt }"
       [style.transform]="transform"
       [@swipeLeftRight]="animation"
       (panmove)="onPanMove($event)"
       (panend)="onPanEnd($event)"
       (click)="kortErValgt()"
       [ngStyle]="kort.erAktivt && {'background-color': farger.hentFhiFargeHexFraTekst(kort.rolle.navn)}">

    <div class="d-flex flex-row">
      <div class="d-flex flex-column justify-content-start">
        <app-rolle-valg-dropdown *ngIf="rollevalg" [rolleId]="kort.rolle.id" [rollevalg]="rollevalg" (rolleValgt)="velgRolle($event)"></app-rolle-valg-dropdown>

        <app-indikasjonsvalg (indikasjonsValgChangedEvent)="indikasjonsValgChanged($event)"
                             [erAktiv]="kort.erAktivt"
                             [parentId]="kort.id">
        </app-indikasjonsvalg>

        <div class="row mt-n3" *ngIf="aktivitet?.sekunderBrukt > 0">
          <div class="col-12 text-center mb-2 mt-4">
            <button class="btn hh-transparent-button hh-transparent-button--small" (click)="fjernTidsregistrering()">
              <span class="d-flex align-items-center"><fa-icon [icon]="faTrashAlt"></fa-icon>  Fjern tidsregistrering</span>
            </button>
          </div>
        </div>
        <div class=" d-flex flex-row mt-2 justify-content-around">
          <app-registrer-kommentar [kommentarinput]="kommentar"
                                   (kommentarRegistertEvent)="registrerKommentar($event)">
          </app-registrer-kommentar>
          <button type="button" class="hh-transparent-button hh-transparent-button hh-transparent-button--small p-0" (click)="nullstillKort()">
            <span class="d-flex align-items-center"><fa-icon class="mr-1" [icon]="faEraser"></fa-icon>Tøm kort</span>
          </button>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-center">
        <div class="d-flex justify-content-around">
          <div class="hh-vertical-stadium-buttons">
            <div class="hh-vertical-stadium-buttons__button">
              <app-registrer-aktivitet [deaktivert]="skalAktivitetDeaktiveres(AktivitetTypeKonstanter.Desinfeksjon)"
                                       [erRegistrert]="erRegistrert(AktivitetTypeKonstanter.Desinfeksjon)"
                                       [parentId]="kort.id"
                                       [sekunder]="aktivitet?.sekunderBrukt"
                                       [tidtaking]="sesjonsvisning.tidtakingSkalRegistreres"
                                       [aktivitetType]="getAktivitetType(AktivitetTypeKonstanter.Desinfeksjon)"
                                       [bekreftelseModalSkalVises]="sesjonsvisning.hanskebrukSkalRegistreres"
                                       [icon]="faHandHoldingWater"
                                       (aktivitetRegistertEvent)="registrerAktivitet($event)">
              </app-registrer-aktivitet>
            </div>
            <div class="hh-vertical-stadium-buttons__button">
              <app-registrer-aktivitet [deaktivert]="skalAktivitetDeaktiveres(AktivitetTypeKonstanter.Handvask)"
                                       [erRegistrert]="erRegistrert(AktivitetTypeKonstanter.Handvask)"
                                       [parentId]="kort.id"
                                       [sekunder]="aktivitet?.sekunderBrukt"
                                       [tidtaking]="sesjonsvisning.tidtakingSkalRegistreres"
                                       [aktivitetType]="getAktivitetType(AktivitetTypeKonstanter.Handvask)"
                                       [bekreftelseModalSkalVises]="sesjonsvisning.hanskebrukSkalRegistreres"
                                       [icon]="faHandsWash"
                                       (aktivitetRegistertEvent)="registrerAktivitet($event)">
              </app-registrer-aktivitet>
            </div>
            <div class="hh-vertical-stadium-buttons__button pt-0">
              <app-registrer-aktivitet [deaktivert]="skalAktivitetDeaktiveres(AktivitetTypeKonstanter.IkkeUtfort)"
                                      [erRegistrert]="erRegistrert(AktivitetTypeKonstanter.IkkeUtfort)"
                                      [parentId]="kort.id"
                                      [aktivitetType]="getAktivitetType(AktivitetTypeKonstanter.IkkeUtfort)"
                                      [bekreftelseModalSkalVises]="sesjonsvisning.hanskebrukSkalRegistreres"
                                      [icon]="faTimesCircle"
                                      (aktivitetRegistertEvent)="registrerAktivitet($event)">
              </app-registrer-aktivitet>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <app-slett-skygge [vis]="showDeleteShadow"></app-slett-skygge>

  <app-info-modal [modalTekst]="observasjonMangelTekst" [visInfoModal]="visInfoModal" (lukkInfoModalEvent)="lukkInfoModal($event)"></app-info-modal>
</div>
