<div class="row">
  <div class="col-12">
    <button class="btn fhi-btn-primary mb-5" (click)="opprettTomFhiAdmin()">Opprett FhiAdmin</button>
  </div>
</div>
<div class="row" *ngIf="brukere">
  <h5 class="col-12">FhiAdmin</h5>
  <label class="col-12" *ngIf="brukere.length === 0 && !nyFhiAdmin">Fant ingen FhiAdmin-brukere</label>
  
  <ng-container>
    <div class="table-responsive">
      <table class="table" *ngIf="brukere.length > 0 || nyFhiAdmin">
        <thead>
          <tr>
            <th scope="col">Fornavn</th>
            <th scope="col">Etternavn</th>
            <th scope="col">Pseudonym</th>
            <th scope="col">Deaktivert</th>
            <th scope="col">Opprettet tidspunkt</th>
            <th class="text-end" scope="col">Handling</th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngIf="nyFhiAdmin != null">
            <td><input type="text" class="form-control" [(ngModel)]="nyFhiAdmin.fornavn" name="fornavn" placeholder="Fornavn"></td>
            <td><input type="text" class="form-control" [(ngModel)]="nyFhiAdmin.etternavn" name="etternavn" placeholder="Etternavn"></td>
            <td><input type="text" class="form-control" [(ngModel)]="nyFhiAdmin.identPseudonym" name="identPseudonym" placeholder="IdentPseudonym"></td>
            <td></td>
            <td></td>

            <td class="text-end py-0 align-middle">
              <button class="btn fhi-btn-icon" type="button" [disabled]="kanOpprettes() == false" (click)="opprettFhiAdmin()">
                <i class="icon-plus"></i><span class="btn__text">Opprett</span>
              </button>
              <button class="btn fhi-btn-icon" type="button" (click)="avbrytRedigering($event)">
                <i class="icon-x"></i><span class="btn__text">Avbryt</span>
              </button>
            </td>
          </tr>

          <tr *ngFor="let fhiAdmin of brukere; index as i">
            <ng-container *ngIf="fhiAdminSomEndres?.id != fhiAdmin.id">
              <td>{{ fhiAdmin.fornavn }}</td>
              <td>{{ fhiAdmin.etternavn }}</td>
              <td>{{ fhiAdmin.identPseudonym }}</td>
              <td><input type="checkbox" class="form-check-input" [(ngModel)]="fhiAdmin.erDeaktivert" name="erDeaktivert" disabled="disabled"></td>
            </ng-container>
            <ng-container *ngIf="fhiAdminSomEndres?.id == fhiAdmin.id">
              <td><input type="text" class="form-control" [(ngModel)]="fhiAdminSomEndres.fornavn" name="fornavn" placeholder="Fornavn"></td>
              <td><input type="text" class="form-control" [(ngModel)]="fhiAdminSomEndres.etternavn" name="etternavn" placeholder="Etternavn"></td>
              <td><input type="text" class="form-control" [(ngModel)]="fhiAdminSomEndres.identPseudonym" name="identPseudonym" placeholder="IdentPseudonym"></td>
              <td><input type="checkbox" class="form-check-input" [(ngModel)]="fhiAdminSomEndres.erDeaktivert" name="erDeaktivert"></td>
            </ng-container>

            <td>{{ fhiAdmin.opprettettidspunkt | date:'medium' }}</td>
          
            <td class="text-end py-0 align-middle">
              <ng-container *ngIf="fhiAdmin.id == fhiAdminSomEndres?.id">
                <button class="btn fhi-btn-icon" (click)="oppdaterFhiAdmin(fhiAdminSomEndres)" [disabled]="kanEndres(fhiAdminSomEndres) == false">
                  <i class="icon-pencil"></i><span class="btn__text">Lagre</span>
                </button>
                <button class="btn fhi-btn-icon" (click)="avbrytRedigering($event)">
                  <i class="icon-x"></i><span class="btn__text">Avbryt</span>
                </button>
              </ng-container>

              <ng-container *ngIf="fhiAdmin.id != fhiAdminSomEndres?.id">
                <button class="btn fhi-btn-icon" type="button" (click)="setFhiAdminSomEndres(fhiAdmin)">
                  <i class="icon-pencil"></i><span class="btn__text">Rediger</span>
                </button>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>
