.hh-hanske-tabs {
  border-bottom: none;

  &__tab {
    color: black !important;
    text-decoration: none;

    &:hover {
      border: 1px solid transparent !important;
    }

    &.active {
      background-color: unset !important;
    }

    &.disabled {
      opacity: 0.35;
      pointer-events: all;
      cursor: not-allowed !important;
    }
  }

  &__label-td {
    width: 80%;
    font-size: smaller;
  }

  &__radio {
    background-color: white;
    width: 35px !important;
    height: 35px;
    font-size: 14px;
    border-radius: 50% !important;
    padding: 10px 3px;
    flex: none !important;
    border: 1px solid black;

    &.active, &.focus {
      padding: 6px 3px;
      font-size: 16px;
      border: 2px solid black;
    }
  }

  &__checkbox {
    border-radius: 50%;
    background-color: white;
    padding: 0;

    &,
    .table & {
      width: $fhi-core-px * 33;
      height: $fhi-core-px * 33;
    }

    &.active, &.focus {
      padding: 6px 3px;
      font-size: 16px;
      border: 2px solid black;
    }
  }
}
