.hh-sesjontype-radio {
  border: 1px solid black;
  border-radius: 6px;
  padding: 15px 40px;
  margin-bottom: 7px;

  &--active {
    border: 2px solid black;
    padding: 14px 39px;
  }

  & label {
    width: 100%;

    & span {
      position: absolute;
      width: 100%;
    }
  }
}
