.hh-registrer-aktivitet {
  button {
    padding: 0;

    &:disabled .ng-fa-icon {
      --fa-primary-color: white;
      --fa-secondary-color: black;
      --fa-secondary-opacity: 0.5;
    }

    .ng-fa-icon {
      --fa-primary-color: white;
      --fa-secondary-color: black;
      --fa-secondary-opacity: 1;
    }
  }

  &--registrert {
    span, .ng-fa-icon {
      color: $fhi-core-green-2;
      --fa-primary-color: white !important;
      --fa-secondary-color: red !important;
      --fa-secondary-opacity: 0.7 !important;
    }
  }

  &--registrert &__missed-opportunity-text {
    color: $fhi-core-pink-light-1;
  }

  &--registrert &__sekunder-brukt {
    color: $fhi-core-green-2;
  }

  &__sekunder-brukt {
    font-size: 19px;
    width: 100%;
    text-align: center;
    margin-top: -5px;
  }

  &__circle {
    z-index: 1;
    position: fixed;
    float: left;
    width: 80px;
    height: 80px;
    margin: -6px 5px 6px -12px;
    padding: 6px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.75);
    // arc
    border: 4px solid $fhi-core-green-2;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(138deg)
  }
}
