$card-border-radius: 24px;

.hh-card-slider {
  display: flex;
  margin-bottom: $fhi-core-space-3;
  width: 100%;
  transform: translateX(0);
  overflow: hidden;
  padding-bottom: 9px;
  max-width: 520px;

  &__save-shadow {
    background-color: $fhi-core-blue-3;
    color: white;
    width: 100%;
    margin-right: -100%;
    border-radius: $card-border-radius;

    & .row {
      height: 100%;
      width: 100%;
    }
  }

  &__stripe {
    background-color: $hh-lightgreen;
  }

  &__card {
    border-radius: $card-border-radius;

    touch-action: pan-y !important;
    width: 100%;
    background-color: white;
    border: 1px solid $fhi-core-grey-4;
    > * {
      // All direct children gets padding, if not overridden
      padding: $fhi-core-space-1 $fhi-core-space-2;
    }
    //:last-child{
    //  padding-bottom: 25px;
    //}
    //:first-child{
    //  padding-top: 25px;
    //}

    &--active {
      -webkit-box-shadow: 0px 5px 6px -3px rgb(0 0 0 / 90%);
      box-shadow: 0px 5px 6px -3px rgb(0 0 0 / 90%);
      border-color: transparent;
    }

    &--inactive {
      background-color: $fhi-core-blue-3;
      color: white;

      .text-muted {
        color: white !important;
      }
    }

    &--no-border {
      border: none;
    }
  }

  &__aktivitet {
    > button {
      color: $fhi-core-grey-3;
      border: none;
      background-color: transparent;
      font-size: xx-large;
      width: 100%;
      display: grid;
    }

    .tidbrukt {
      font-size: small;
      width: 100%;
      text-align: center;
      display: none;
    }

    &--active {
      > button {
        color: $fhi-core-grey-4; //TODO: Bruk fhi-felles variable hvis mulig
      }

      .tidbrukt {
        display: block;
      }
    }
  }

  &__delete-shadow {
    background-color: $fhi-core-red-2;
    color: white;
    z-index: -1;
    width: 100%;
    margin-left: -100%;
    border-radius: $card-border-radius;

    & .row {
      height: 100%;
      width: 100%;
    }
  }
}
