<div class="row mt-4" *ngIf="kanVelgeInstitusjon">
    <div class="col-md-5">
      <label for="institusjon">Institusjon</label>
      <select class="form-select" id="institusjon" [(ngModel)]="valgtInstitusjonId" (ngModelChange)="velgInstitusjon()">
        <option value=""></option>
        <option *ngFor="let institusjon of institusjoner" [ngValue]="institusjon.id">{{institusjon.navn}}</option>
      </select>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-5">
      <label for="avdeling">Avdeling</label>
      <select class="form-select" id="avdeling" [(ngModel)]="valgtAvdelingId" [disabled]="lagInstitusjonsrapport">
        <option value=""></option>
        <option *ngFor="let avdeling of avdelinger" [ngValue]="avdeling.id">{{avdeling.navn}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="fraDato">Fra dato</label>
      <input class="form-control" id="fraDato" type="date" [(ngModel)]="fraDato" />
    </div>
    <div class="col-md-2">
      <label for="tilDato">Til dato</label>
      <input class="form-control" id="tilDato" type="date" [(ngModel)]="tilDato" />
    </div>
  </div>
  <div class="row mt-4">
    <div class="form-group col-12">
      <button class="btn btn-sm fhi-btn-primary me-2" (click)="lagRapport()" [disabled]="!kanLageRapport()">Lag rapport</button>
      <button class="btn btn-sm fhi-btn-secondary ms-2" (click)="nullstill()">Tøm filtere</button>
    </div>
  </div>

  <div class="row" *ngIf="lagerRapport">
    <app-spinner class="col-2"></app-spinner>
  </div>
