<div class="hh-card-slider">

  <app-lagre-skygge [vis]="showSaveShadow"></app-lagre-skygge>

  <div [id]="kort.id"
       class="hh-card-slider__card"
       [ngClass]="{ 'hh-card-slider__card--active': kort.erAktivt }"
       [style.transform]="transform"
       [@swipeLeftRight]="animation"
       (panmove)="onPanMove($event)"
       (panend)="onPanEnd($event)"
       (click)="kortErValgt()"
       [ngStyle]="kort.erAktivt && {'background-color': farger.hentFhiFargeHexFraTekst(kort.rolle.navn)}">

    <div class="row">

      <div class="col-12">
        <app-rolle-valg-dropdown *ngIf="rollevalg" [rolleId]="kort.rolle.id" [rollevalg]="rollevalg" (rolleValgt)="velgRolle($event)"></app-rolle-valg-dropdown>

        <div class="row mt-5 text-break">
          <div class="col-4 col-md-3 text-center mb-4" *ngFor="let valg of handsmykkevalg; let i = index;">
            <label [htmlFor]="'handsmykke'+kort.id.substr(4)+handsmykkevalg.indexOf(valg)" [ngStyle]="{ 'opacity': valg.disabled ? '0.5' : '1' }">
              <input type="checkbox"
                     [(ngModel)]="valg.erValgt"
                     (ngModelChange)="changed(valg)"
                     [disabled]="valg.disabled"
                     [id]="'handsmykke'+kort.id.substr(4)+handsmykkevalg.indexOf(valg)"
                     class="hh-round-checkbox-list__input">
              <fa-stack class="hh-round-checkbox-list__iconstack">
                <fa-icon [icon]="faCircle" stackItemSize="2x"
                         class="hh-round-checkbox-list__circle"
                         [ngClass]="{'hh-round-checkbox-list__circle--chosen': valg.erValgt, 'hh-round-checkbox-list__circle--active': kort.erAktivt}">
                </fa-icon>
                <fa-icon [icon]="ikonTypeMap.get(valg.type)" [styles]="{ 'color': 'black' }" [inverse]="true" stackItemSize="1x" *ngIf="!valg.erValgt"></fa-icon>
                <fa-icon [icon]="faCheck" [inverse]="true" [styles]="{ 'color': '#333841' }" stackItemSize="1x" *ngIf="valg.erValgt"></fa-icon>
              </fa-stack>
              <br />
              <span><small><strong>{{ valg.navn }}</strong></small></span>
            </label>
          </div>
        </div>

        <div class=" d-flex flex-row mt-2 justify-content-around">
          <app-registrer-kommentar [kommentarinput]="kommentar"
                                   (kommentarRegistertEvent)="registrerKommentar($event)">
          </app-registrer-kommentar>
          <button type="button" class="hh-transparent-button hh-transparent-button hh-transparent-button--small p-0" (click)="nullstillKort()">
            <span class="d-flex align-items-center"><fa-icon class="mr-1" [icon]="faEraser"></fa-icon>Tøm kort</span>
          </button>
        </div>
      </div>

    </div>
  </div>

  <app-slett-skygge [vis]="showDeleteShadow"></app-slett-skygge>

  <app-info-modal [modalTekst]="observasjonMangelTekst" [visInfoModal]="visInfoModal" (lukkInfoModalEvent)="lukkInfoModal($event)"></app-info-modal>

</div>
