<div class="container">

  <!-- Filtre -->
  <div class="row">
    <div class="row align-items-end mb-4">
      <div class="col-md-2">
        <label for="sesjonType">Modul</label>
        <select class="form-select" id="sesjontype" [(ngModel)]="valgtSesjontype" (ngModelChange)="nullstillSokeresultat()">
          <option value="null">Alle</option>
          <option *ngFor="let sesjontype of sesjontyper" [ngValue]="sesjontype.verdi">{{sesjontype.navn}}</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="fra">Fra dato</label>
        <input id="fra" class="form-control" id="fraDato" type="date" [(ngModel)]="fraDato" (ngModelChange)="nullstillSokeresultat()" />
      </div>
      <div class="col-md-2">
        <label for="til">Til dato</label>
        <input id="til" class="form-control" id="tilDato" type="date" [(ngModel)]="tilDato" (ngModelChange)="nullstillSokeresultat()" />
      </div>
      <div *ngIf="kanVelgeInstitusjon" class="col-md-3">
        <label for="institusjoner">Institusjoner</label>
        <select id="institusjoner" class="form-select" [(ngModel)]="valgtInstitusjonId" (ngModelChange)="nullstillSokeresultat()">
          <option value="null">Alle</option>
          <option *ngFor="let institusjon of institusjoner" [ngValue]="institusjon.id.toString()">
            {{institusjon.navn}}
          </option>
        </select>
      </div>
      <div class="form-group col-12 col-md-3">
        <label style="opacity:0;">-</label>
        <br />
        <button class="btn btn-sm fhi-btn-primary me-2" (click)="hentInstitusjonerMedSesjoner()">Søk</button>
        <button class="btn btn-sm fhi-btn-secondary ms-2" (click)="nullstill()">Tøm filtere</button>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="soker">
    <app-spinner class="col-12">Søker...</app-spinner>
  </div>

  <!-- Søkeresultat -->
  <div class="row mb-5" *ngIf="institusjonOversiktRapportListe.length">
    <app-accordion class="col-12"
                   [items]="institusjonOversiktRapportListe"
                   [headerTemplate]="headerInstitusjonOversiktRapport"
                   [contentTemplate]="contentInstitusjonOversiktRapport"
                   (shownEvent)="findId($event)">
    </app-accordion>

    <ng-template #headerInstitusjonOversiktRapport let-item="item">
      {{item.navn}}. Sesjoner: {{item.antallSesjoner}}. Observasjoner: {{item.antallObservasjoner}}.
    </ng-template>

    <ng-template #contentInstitusjonOversiktRapport let-item="item">
      <h5>Avdelinger</h5>
      <ng-container>
        <div class="table-responsive">
          <table class="table" sortable-table (sorted)="sorter($event)">
            <thead>
              <tr>
                <th sortable-column="Navn"></th>
                <th>Antall sesjoner</th>
                <th>Antall observasjoner</th>
                <th scope="col">Handling</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let avdeling of item.avdelinger">
                <td>{{avdeling.navn}}</td>
                <td>{{avdeling.antallSesjoner}}</td>
                <td>{{avdeling.antallObservasjoner}}</td>
                <td class="py-2">
                  <button class="btn fhi-btn-icon"
                          (click)="navigerTilObservasjonerForAvdelingen(avdeling)"
                          [disabled]="avdeling.antallSesjoner === 0">
                    Se sesjoner
                    <fa-icon [icon]="faArrowRight"></fa-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
    </ng-template>

  </div>
</div>
