
<div class="hh-card-slider">
  <div class="d-flex flex-column">
    <div class="d-flex justify-content-between" *ngIf="isReadonly == false">
      <div class="mb-3">
        <button *ngIf="!erRedigeringsmodus" class="btn fhi-btn-icon" (click)="erRedigeringsmodus = true">
          <i class="icon-pencil"></i>
          Rediger
        </button>
        <button *ngIf="erRedigeringsmodus" class="btn fhi-btn-icon" (click)="lagreObservasjon()">
          <i class="icon-check-circle"></i>
          Lagre
        </button>
      </div>

      <div class="mb-3">
        <app-slett-bekreftelsesdialog [erSvartFarge]="false" (slettetEvent)="slettObservasjon()"
                                      [dialogmelding]="dialogtekster.ObservasjonSlettBekreftelse">
          <i class="icon-trash3"></i> Slett
        </app-slett-bekreftelsesdialog>
      </div>
    </div>
    <div class="hh-card-slider__card"
         [ngClass]="{ 'hh-card-slider__card--active': erRedigeringsmodus || isReadonly }"
         [ngStyle]="(erRedigeringsmodus || isReadonly) && {'background-color': Farger.hentFhiFargeHexFraTekst(observasjon?.rolle?.navn)}">
      <div class="d-flex flex-row pt-3">
        <div class="flex-column justify-content-start">
          <ng-container *ngIf="erRedigeringsmodus">
            <app-rolle-valg-dropdown [rolleId]="observasjon.rolle.id"
                                     [isReadonly]="isReadonly"
                                     [rollevalg]="avdeling.roller"
                                     (rolleValgt)="observasjon.rolle = $event">
            </app-rolle-valg-dropdown>
          </ng-container>
          <app-indikasjonsvalg [valgteIndikasjoner]="observasjon.indikasjonstyper"
                               (indikasjonsValgChangedEvent)="indikasjonsValgChanged($event)"
                               [isReadonly]="!erRedigeringsmodus"
                               [erAktiv]="erRedigeringsmodus"
                               [parentId]="observasjon.id">
          </app-indikasjonsvalg>
        </div>
        <div class="flex-column justify-content-end">
          <div class="d-flex justify-content-around">
            <div class="hh-vertical-stadium-buttons">
              <div class="hh-vertical-stadium-buttons__button">
                <app-registrer-aktivitet class="hh-card-slider__aktivitet"
                                         [ngClass]="{ 'hh-card-slider__aktivitet--active': erAktivitetValgt(AktivitetTypeKonstanter.Desinfeksjon) }"
                                         [aktivitetType]="getAktivitetType(AktivitetTypeKonstanter.Desinfeksjon)"
                                         [erRegistrert]="erAktivitetValgt(AktivitetTypeKonstanter.Desinfeksjon)"
                                         [tidtaking]="false"
                                         [sekunder]="erAktivitetValgt(AktivitetTypeKonstanter.Desinfeksjon) ? observasjon.aktivitet?.sekunderBrukt : 0"
                                         [deaktivert]="!erRedigeringsmodus"
                                         [icon]="faHandHoldingWater"
                                         (aktivitetRegistertEvent)="registrerAktivitet($event)">
                  <!-- <fa-icon [icon]="faHandHoldingWater" class="hh-vertical-stadium-buttons__icon"></fa-icon><span class="mt-n4"><small><strong>Sprit</strong></small></span> -->
                </app-registrer-aktivitet>
              </div>
              <div class="hh-vertical-stadium-buttons__button">
                <app-registrer-aktivitet class="hh-card-slider__aktivitet"
                                         [ngClass]="{ 'hh-card-slider__aktivitet--active': erAktivitetValgt(AktivitetTypeKonstanter.Handvask) }"
                                         [aktivitetType]="getAktivitetType(AktivitetTypeKonstanter.Handvask)"
                                         [erRegistrert]="erAktivitetValgt(AktivitetTypeKonstanter.Handvask)"
                                         [tidtaking]="false"
                                         [sekunder]="erAktivitetValgt(AktivitetTypeKonstanter.Handvask) ? observasjon.aktivitet?.sekunderBrukt : 0"
                                         [deaktivert]="!erRedigeringsmodus"
                                         [icon]="faHandsWash"
                                         (aktivitetRegistertEvent)="registrerAktivitet($event)">
                  <!-- <fa-icon [icon]="faHandsWash" class="hh-vertical-stadium-buttons__icon"></fa-icon><span class="mt-n4"><small><strong>Vask</strong></small></span> -->
                </app-registrer-aktivitet>
              </div>
              <div class="hh-vertical-stadium-buttons__button">
                <app-missed-opportunity class="hh-card-slider__aktivitet"
                                        [ngClass]="{ 'hh-card-slider__aktivitet--active': erAktivitetValgt(AktivitetTypeKonstanter.IkkeUtfort) }"
                                        [erRegistrert]="erAktivitetValgt(AktivitetTypeKonstanter.IkkeUtfort)"
                                        (aktivitetRegistertEvent)="registrerAktivitet($event)"
                                        [deaktivert]="!erRedigeringsmodus">
                </app-missed-opportunity>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-n3" *ngIf="erRedigeringsmodus && observasjon.aktivitet.sekunderBrukt > 0 && !visAktivitetTypeIkkeUtfort">
        <div class="col-12 text-center mb-2">
          <button class="btn hh-transparent-button hh-transparent-button--small" (click)="observasjon.aktivitet.sekunderBrukt = 0">
            <span class="d-flex align-items-center"><fa-icon [icon]="faTrashAlt"></fa-icon>  Fjern tidsregistrering</span>
          </button>
        </div>
      </div>
      <ng-container *ngIf="isReadonly == false">
        <div *ngIf="hanskebrukSkalRegistreres && visAktivitetTypeIkkeUtfort" class="form-group col-3 mt-n4" [style]="{ 'min-width': '300px !important', 'margin-left': '-5px' }">
          <label class="ml-2" [htmlFor]="'hanskebruk-'+id"><small>Observasjon av hansker:</small></label>
          <select [disabled]="!erRedigeringsmodus"
                  [id]="'hanskebruk-'+id"
                  class="form-control form-control--rounded form-control--smaller form-control--arrow bg-secondary"
                  [ngClass]="{'form-control--no-border': !erRedigeringsmodus}"
                  [(ngModel)]="valgtAktivitetTypeIkkeUtfortId"
                  (ngModelChange)="valgtAktivitetTypeIkkeUtfortEndret($event)">
            <option *ngFor="let aktivitetTypeIkkeUtfort of aktivitetTypeIkkeUtfortValg" [value]="aktivitetTypeIkkeUtfort.id+''">{{aktivitetTypeIkkeUtfort.navn}}</option>
          </select>
        </div>
      </ng-container>
      <ng-container *ngIf="isReadonly && hanskebrukTekst">
        <div class="row">
          <div class="col">
            <label>
              <small>
                Observasjon av hansker:
                <strong>{{hanskebrukTekst}}</strong>
              </small>
            </label>
          </div>
        </div>
      </ng-container>
      <div class="row">
        <div class="col">
          <div class="d-flex flex-row justify-content-around">
            <ng-container *ngIf="erRedigeringsmodus">
              <app-registrer-kommentar [deaktivert]="isReadonly"
                                       [kommentarinput]="observasjon.kommentar"
                                       (kommentarRegistertEvent)="registrerKommentar($event)">
              </app-registrer-kommentar>
            </ng-container>
            <ng-container *ngIf="!erRedigeringsmodus && observasjon.kommentar">
              <label><small>Kommentar: <strong data-hj-suppress>{{observasjon.kommentar}}</strong></small></label>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
