<app-navigasjonslenke [routerLink]="'/'+UrlPaths.redigeringAvKlinikker">Tilbake til klinikkoversikt</app-navigasjonslenke>
<div class="row">
  <h5 class="col-12 mt-2">Rediger klinikk</h5>
  <div class="col-12 col-lg-6">
    <div class="form-row">
      <div class="form-group col-12 mb-3">
        <label for="klinikknavn">Navn</label>
        <input type="text" id="klinikknavn" class="form-control" placeholder="e.g. Nevrologisk avdeling" [(ngModel)]="klinikkKopi.navn">
      </div>
      <div class="form-group col-12 mb-3">
        Avdelinger som skal være tilknyttet klinikken
        <div class="custom-control custom-checkbox my-1" *ngFor="let valg of avdelingsvalg">
          <input type="checkbox" [(ngModel)]="valg.erValgt" [id]="'rolle'+avdelingsvalg.indexOf(valg)" class="form-check-input">
          <label [htmlFor]="'rolle'+avdelingsvalg.indexOf(valg)" class="custom-control-label ms-2">
            <span>{{ valg.avdeling.navn }}</span>
          </label>
          <fa-icon *ngIf="valg.erAlleredePaKlinikk" [icon]="fawarningicon" class="mx-1 fa-icon-warning" ngbTooltip="Brukes av en annen klinikk!"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row col-3">
  <button class="btn fhi-btn-primary ms-3 mt-1" [disabled]="kanIkkeLagreKlinikk()" (click)="lagreKlinikk()">Lagre klinikk</button>
</div>
