<app-offline-melding (harInternettEvent)="erOnline = $event"></app-offline-melding>
<div class="container" *ngIf='erOnline'>
  <app-navigasjonslenke (lenkeKlikket)="navigerTilSendteSesjoner()">Tilbake</app-navigasjonslenke>
  <app-sesjonsredigering-overskrift [sesjon]="sesjon" [overskrift]="'Sendt sesjon - Verneutstyr'"></app-sesjonsredigering-overskrift>
  <div class="accordion-compact mb-4">
    <app-accordion [items]="sesjon?.observasjoner"
                   [headerTemplate]="header"
                   [contentTemplate]="content"></app-accordion>
    <ng-template #header let-item="item">
      <div>
        <p class="mb-1"><strong>{{item.rolle.navn}} - {{ item.registrerttidspunkt | date:'HH:mm' }}</strong></p>
        <p class="mb-1">{{ hentIngress(item)}}</p>
        <p class="mb-0 lh-1"><small>{{ visUtstyr(item.beskyttelsesutstyrliste) }}</small></p>
      </div>
    </ng-template>
    <ng-template #content let-item="item">
      <app-rediger-beskyttelsesutstyr-observasjon [observasjon]="item"
                                                  [avdeling]="sesjon.avdeling"
                                                  [isReadonly]="true">
      </app-rediger-beskyttelsesutstyr-observasjon>
    </ng-template>
  </div>
  <p *ngIf="sesjon?.kommentar">
      Kommentar: <small><strong data-hj-suppress>{{sesjon?.kommentar}}</strong></small>
  </p>
  <div class="text-end" *ngIf="sesjon?.observasjoner?.length > 0">
    <button class="btn fhi-btn-icon" (click)="lastNedSomExcel()">
      <i class="icon-download"></i>
      {{Dialogtekster.LastNedDataSomExcel}}
    </button>
    <app-spinner *ngIf="lasterNedSomExcel"></app-spinner>
  </div>
</div>
