<fhi-modal *ngIf="!redigerbar">
  <ng-container fhi-modal.button>{{tekst}}</ng-container>
  <ng-container fhi-modal.body>{{identPseudonym}}</ng-container>
</fhi-modal>

<fhi-modal *ngIf="redigerbar"
            [actionButtons]="[{name: 'Lagre', disabled: !erOk()}]"
            (modalAction)="ok()">
  <ng-container fhi-modal.button>{{tekst}}</ng-container>
  <ng-container fhi-modal.body>
    <input type="text" class="form-control mb-1" [(ngModel)]="identPseudonym" name="identPseudonym">
  </ng-container>
</fhi-modal>
