<div class="hh-card-slider">

  <div class="d-flex flex-column">
    <div class="d-flex justify-content-between" *ngIf="isReadonly == false">
      <div class="mb-3">
        <button *ngIf="!erRedigeringsmodus" class="btn fhi-btn-icon" style="background-color: white;" (click)="erRedigeringsmodus = true">
          <fa-icon [icon]="faPencil"></fa-icon> Rediger
        </button>
        <button *ngIf="erRedigeringsmodus" class="btn fhi-btn-icon" style="background-color: white;" (click)="lagreObservasjon()">
          <fa-icon [icon]="faSave"></fa-icon> Lagre
        </button>

      </div>
      <div class="mb-3">
        <app-slett-bekreftelsesdialog [erSvartFarge]="false" (slettetEvent)="slettObservasjon()"
                                      [dialogmelding]="dialogtekster.ObservasjonSlettBekreftelse">
          <fa-icon [icon]="faTrashAlt"></fa-icon> Slett
        </app-slett-bekreftelsesdialog>
      </div>
    </div>
    <div class="hh-card-slider__card"
         [ngClass]="{ 'hh-card-slider__card--active': erRedigeringsmodus || isReadonly }"
         [ngStyle]=" (erRedigeringsmodus || isReadonly) && {'background-color': Farger.hentFhiFargeHexFraTekst(observasjon.rolle.navn)}">
      <ng-container *ngIf="erRedigeringsmodus">
        <div class="row">
          <div class="col-12">
            <app-rolle-valg-dropdown [rolleId]="observasjon.rolle.id"
                                     [isReadonly]="isReadonly"
                                     [rollevalg]="avdeling.roller"
                                     (rolleValgt)="observasjon.rolle = $event">
            </app-rolle-valg-dropdown>
          </div>
        </div>
        <div class="hh-horizontal-separator"></div>
      </ng-container>
      <div class="row">
        <div class="col-12" *ngIf="beskyttelsesutstyrIndikert().length > 0">
          <h2 class="h5 mb-3">Indikert</h2>
          <div class="row text-break" *ngIf="beskyttelsesutstyr?.length">
            <div class="col-6 col-sm-4 col-md-3 text-center px-0 mb-3" *ngFor="let valg of beskyttelsesutstyrIndikert(); let i = index;" (click)="visVisningsmodusModal($event, valg)">
              <label [htmlFor]="'indikert'+observasjon.id.substr(4)+i">
                <input type="checkbox"
                       class="hh-round-checkbox-list__input"
                       [disabled]="isReadonly || !erRedigeringsmodus"
                       [(ngModel)]="valg.bleBenyttet"
                       (change)="changed($event, valg)"
                       [id]="'indikert'+observasjon.id.substr(4)+i">

                <fa-stack class="hh-round-checkbox-list__iconstack">
                  <fa-icon [icon]="faCircle" stackItemSize="2x"
                           class="hh-round-checkbox-list__circle"
                           [ngClass]="{ 'hh-round-checkbox-list__circle--chosen': valg.bleBenyttet, 'hh-round-checkbox-list__circle--active': erRedigeringsmodus }"></fa-icon>
                  <fa-icon [icon]="ikonTypeMap.get(valg.utstyrstype.kode)" [styles]="{ 'color': 'black' }" [inverse]="true" stackItemSize="1x" *ngIf="!valg.bleBenyttet"></fa-icon>
                  <fa-icon [icon]="faCheck" [inverse]="true" [styles]="{ 'color': valg.bleBenyttetRiktig ? 'green' : 'red' }" stackItemSize="1x" *ngIf="valg.bleBenyttet"></fa-icon>
                </fa-stack>
                <br />
                <span>{{ valg.utstyrstype.navn }}</span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-auto mx-auto" *ngIf="erRedigeringsmodus">
          <div class="fhi-form-check-tile">
            <button class="btn fhi-btn-icon btn-lg mt-3" [disabled]="isReadonly || visningsmodus" id="allTypesOfEquipmentCorrectlyUsedDisabled"  (click)="setAlleUtstyrTilRiktigBrukt($event)"><strong>Alt utstyr korrekt benyttet</strong></button>
            <!-- <input class="fhi-form-check-tile__input form-check-input" type="checkbox" [disabled]="isReadonly || visningsmodus" id="allTypesOfEquipmentCorrectlyUsedDisabled" (click)="setAlleUtstyrTilRiktigBrukt($event)">
          
            <label class="fhi-form-check-tile__label form-check-label" for="allTypesOfEquipmentCorrectlyUsedDisabled">
              <span class="fhi-form-check-tile__label-text">Alt utstyr korrekt benyttet</span>
            </label> -->
          </div>
        </div>
      </div>
      <div class="hh-card-slider__stripe" *ngIf="beskyttelsesutstyrIkkeIndikert().length > 0">
        <h2 class="h5 mb-3">Ikke indikert</h2>
        <div class="custom-control custom-checkbox hh-stadium-checkbox"
             *ngFor="let valg of beskyttelsesutstyrIkkeIndikert(); let i = index;"
             [ngClass]="{ 'hh-stadium-checkbox--checked':valg.bleBenyttet }"
             (click)="visVisningsmodusModal($event, valg)">

          <div class="btn-group btn-group-toggle">
            <label ngbButtonLabel>
              <input class="visually-hidden" type="checkbox" ngbButton [disabled]="isReadonly || !erRedigeringsmodus" [(ngModel)]="valg.bleBenyttet" (change)="changed($event, valg)">
              <div class="d-flex">
                <i class="icon-check ms-n2" *ngIf="valg.bleBenyttet" [ngClass]="valg.bleBenyttetRiktig ? 'icon-green' : 'icon-red'"></i>
                <strong>{{ valg.utstyrstype.navn }}</strong>
              </div>
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="d-flex flex-row justify-content-around" [ngClass]="{'mt-2' : !erRedigeringsmodus}">
            <ng-container *ngIf="erRedigeringsmodus">
              <app-registrer-kommentar [deaktivert]="isReadonly"
                                       [kommentarinput]="observasjon.kommentar"
                                       [institusjonid]="institusjonid"
                                       [sesjontype]="beskyttelsesutstyrsesjontype"
                                       (kommentarRegistertEvent)="registrerKommentar($event)">
              </app-registrer-kommentar>
            </ng-container>
            <ng-container *ngIf="!erRedigeringsmodus && observasjon.kommentar">
              <label><small>Kommentar: <strong>{{observasjon.kommentar}}</strong></small></label>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
