<ng-container>
  <div class="table-responsive">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Rolle</th>
          <th>Handsmykke(r)</th>
          <th>Registrert</th>
          <th>Kommentar</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let observasjon of observasjoner">
          <tr (click)="velgObservasjon(observasjon)" *ngIf="handsmykkeObservasjonSomEndres?.id !== observasjon.id">
            <td>{{observasjon.rolle.navn}}</td>
            <td>
              <ul style="padding-left: 20px;">
                <li *ngFor="let ht of observasjon.handsmykketyper">
                  {{ht.navn}}
                </li>
              </ul>
            </td>
            <td>{{observasjon.registrerttidspunkt | date:'dd.MM.yyyy HH:mm' }}</td>
            <td>{{observasjon.kommentar}}</td>
          </tr>
          <ng-container *ngIf="handsmykkeObservasjonSomEndres && handsmykkeObservasjonSomEndres.id === observasjon.id">
            <tr>
              <td colspan="12">
                <i>ID: {{observasjon.id}}</i>
              </td>
            </tr>
            <tr></tr>
            <tr>
              <td><app-rolle-valg-dropdown [rolleId]="handsmykkeObservasjonSomEndres.rolle.id" [avdelingId]="avdeling.id" (rolleValgt)="velgRolle($event)" [customClass]="''"></app-rolle-valg-dropdown></td>
              <td>
                <ul *ngFor="let hsv of handsmykkeValg">
                  <div class="form-check">
                    <input [checked]="hsv.erValgt" (change)="hsv.erValgt = !hsv.erValgt" class="form-check-input" type="checkbox" id="customCheck{{hsv.type}}">
                    <label class="form-check-label" for="customCheck{{hsv.type}}">
                      {{hsv.navn}}
                    </label>
                  </div>
                </ul>
              </td>
              <td>
                {{handsmykkeObservasjonSomEndres.registrerttidspunkt | date:'dd.MM.yyyy HH:mm' }}
              </td>
              <td>
                <textarea style="width: 12rem;" [(ngModel)]="handsmykkeObservasjonSomEndres.kommentar" (ngModelChange)="endretKommentar($event)">{{handsmykkeObservasjonSomEndres.kommentar}}</textarea>
              </td>
            </tr>
            <tr></tr>
            <tr>
              <td colspan="12" class="col-12">
                <div class="form-row">
                  <div class="col mt-3">
    
                    <app-bekreftelsesdialog
                                          [knappTekst]="'Lagre'" 
                                          [buttonClass]="'btn fhi-btn-primary me-3'"
                                          (bekreftetEvent)="oppdaterHandsmykkeObservasjon()"
                                          [dialogmelding]="'Er du sikker på at du vil lagre endringer på observasjon med id ' + observasjon.id + '?'">
                    </app-bekreftelsesdialog>
                    <app-bekreftelsesdialog 
                                          [knappTekst]="'Slett'"
                                          [buttonClass]="'btn fhi-btn-secondary me-3'"
                                          (bekreftetEvent)="slettHandsmykkeObservasjon()" 
                                          [dialogmelding]='"Vil du slette observasjon med id: " + observasjon.id + "?"'>
                    </app-bekreftelsesdialog>
                    <button class="btn fhi-btn-primary bg-dark me-3"
                            (click)="avbrytRedigeringAvObservasjon($event)">
                      Avbryt
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
    
        </ng-container>
    
      </tbody>
    </table>
    
  </div>
</ng-container>

