<div class="container">
  <div class="row" *ngIf="!laster">
    <div class="col-4">
      <h5>Helseforetak</h5>
      <input type="text" class="form-control" [(ngModel)]="nyHelseforetak.navn" name="navn" placeholder="Navn">
    </div>
    <div class="col-4">
      <h5>Regionalt helseforetak</h5>
      <select class="form-select" [(ngModel)]="nyHelseforetak.regionaltHelseforetakId">
        <option value="0">Ikke valgt</option>
        <option *ngFor="let regionaltHelseforetak of regionaltHelseforetakListe" [ngValue]="regionaltHelseforetak.id">{{regionaltHelseforetak.navn}}</option>
      </select>
    </div>
    <div class="col-4">
      <button class="btn fhi-btn-primary mt-5" (click)="opprettHelseforetak()" [disabled]="nyHelseforetak.navn.trim().length < 1">Opprett</button>
    </div>
    <div class="col-12 m-3">
      <label *ngIf="!listAvHelseforetak">Fant ingen Helseforetak</label>
      
      <ng-container>
        <div class="table-responsive">
          <table class="table" sortable-table (sorted)="sorter($event)" >
            <thead>
              <tr>
                <th sortable-column="Navn"></th>
                <th sortable-column="Regionalt helseforetak"></th>
                <th class="text-end" scope="col">Handling</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let helseforetak of listAvHelseforetak">
               
                <ng-container *ngIf="helseforetakSomEndres?.id != helseforetak.id">
                  <td>{{helseforetak.navn}}</td>
                  <td>{{helseforetak.regionaltHelseforetak?.navn}}</td>
                  <td class="text-end py-2 align-middle">
                    <button class="btn fhi-btn-icon" (click)="valgtHelseforetakSomEndres(helseforetak)">
                      <i class="icon-pencil"></i><span class="btn__text">Rediger</span>
                    </button>
                  </td>
                   
                </ng-container>

                <ng-container *ngIf="helseforetakSomEndres?.id == helseforetak.id">
                  <td class="col-4"><input type="text" class="form-control" [(ngModel)]="helseforetakSomEndres.navn" name="navn" placeholder="Navn"></td>
                  <td class="col-4">
                    <select class="form-select" [(ngModel)]="helseforetakSomEndres.regionaltHelseforetakId">
                      <option value="0">Ikke valgt</option>
                      <option *ngFor="let regionaltHelseforetak of regionaltHelseforetakListe" [ngValue]="regionaltHelseforetak.id">{{regionaltHelseforetak.navn}}</option>
                    </select>
                  </td>
                  <td class="text-end py-2 align-middle">
                    <button class="btn fhi-btn-icon" (click)="oppdaterHelseforetak(helseforetakSomEndres)">
                      <i class="icon-pencil"></i><span class="btn__text">Lagre</span>
                    </button>
                    <button class="btn fhi-btn-icon" (click)="avbrytRedigering($event)">
                      <i class="icon-x"></i><span class="btn__text">Avbryt</span>
                    </button>
                  </td>
                </ng-container>
              </tr>
            </tbody>

          </table>
        </div>
      </ng-container>   
    </div>
   </div>
   <div class="row" *ngIf="laster">
    <app-spinner></app-spinner>
  </div>
</div> 