<div class="hh-modal">
  <ng-container *ngIf="valgtUtstyr">

    <div class="modal-header pt-6">
      <h4 class="d-flex align-items-center">
        <fa-stack>
          <fa-icon [icon]="faCircle" stackItemSize="2x" [styles]="{ 'color': '#DBE6EC' }"></fa-icon>
          <fa-icon [icon]="ikonTypeMap.get(valgtUtstyr.utstyrstype.kode)" [inverse]="true" [styles]="{ 'color': '#000000' }" stackItemSize="1x"></fa-icon>
        </fa-stack>
        <span class="modal-title" id="modal-basic-title">
          {{valgtUtstyr.utstyrstype.navn}}
        </span>
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body px-7 py-1">
      <div class="custom-control custom-checkbox pb-2">
        <input type="checkbox" class="custom-control-input" id="erIndikert" [(ngModel)]="valgtUtstyr.erIndikert" [disabled]="visningsmodus">
        <label class="custom-control-label" for="erIndikert">
          Er indikert
        </label>
      </div>
      <div class="custom-control custom-radio pb-2">
        <input type="radio" id="riktigBruk" name="riktigBruk" class="custom-control-input" [value]="true" [(ngModel)]="valgtUtstyr.bleBenyttetRiktig" (click)="nullstillFeilbrukOgMarkerBenyttet(true)" [disabled]="visningsmodus">
        <label class="custom-control-label" for="riktigBruk">Riktig bruk</label>
      </div>
      <div class="custom-control custom-radio pb-2">
        <input type="radio" id="feilBruk" name="feilBruk" class="custom-control-input" [value]="false" [(ngModel)]="valgtUtstyr.bleBenyttetRiktig" (click)="nullstillFeilbrukOgMarkerBenyttet(false)" [disabled]="visningsmodus">
        <label class="custom-control-label" for="feilBruk">Feil bruk</label>
      </div>
      <div class="mt-2" *ngIf="valgtUtstyr.bleBenyttetRiktig === false">
        <ng-container *ngIf="!visningsmodus">
          <label class="text-info"><small><strong><em>Velg minst én av alternativene under, eller fyll ut en kommentar</em></strong></small></label>
          <ng-container *ngFor="let fb of valgtUtstyr.utstyrstype.feilbruktyper">
            <div class="custom-control custom-checkbox pb-2">
              <input type="checkbox" class="custom-control-input" [id]="fb.navn" [(ngModel)]="fb.erValgt" (click)="aktiverTilbakeTilKortVedFeilbruk(fb)" [disabled]="visningsmodus">
              <label class="custom-control-label" [for]="fb.navn">
                {{fb.navn}}
              </label>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="visningsmodus">
          <ng-container *ngFor="let fb of valgtUtstyr.feilbruktyper">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" [id]="fb.navn" [disabled]="true" [checked]="true">
              <label class="custom-control-label" [for]="fb.navn">
                {{fb.navn}}
              </label>
            </div>
          </ng-container>
        </ng-container>
        <div class="form-group mt-n3" *ngIf="visningsmodus == false">
          <label for="FormInput"></label>
          <input type="text" id="FormInput" class="form-control" placeholder="Legg til kommentar..." [(ngModel)]="valgtUtstyr.kommentar" (input)="aktiverTilbakeTilKortVedFeilbruk()">
        </div>
        <div class="mt-3" *ngIf="visningsmodus && valgtUtstyr.kommentar">
          <span>Kommentar: <i>{{valgtUtstyr.kommentar}}</i></span>
        </div>
      </div>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <div class="col">
        <button type="button" *ngIf="visKnappForSlettingAvUtstyr && valgtUtstyr.bleBenyttet" class="btn btn-sm fhi-btn-primary flex-grow p-1" (click)="dismiss()">Slett utstyret</button>
      </div>
      <div class="col">
        <button type="button" class="btn fhi-btn-secondary p-2" (click)="close()" [disabled]="!kanLagre()">
          <span *ngIf="!visningsmodus">Lagre svar</span>
          <span *ngIf="visningsmodus">Tilbake til kort</span>
        </button>
      </div>
    </div>
  </ng-container>
</div>
