<div class="container d-xl-none pb-3 mt-n5">
  <h1 class="h2">Sesjoner</h1>
</div>

<div class="container px-0">
  <app-sesjonsoversikt>
    <div class="mb-3">
      <button
        class="btn fhi-btn-secondary me-3 mb-2"
        [disabled]="sesjoner.length < 1"
        (click)="merkAlleSesjoner()"
      >
        Velg alle
      </button>
      <button
        class="btn fhi-btn-primary mb-2"
        [disabled]="!harValgtEnSesjon"
        (click)="sendValgteSesjonerTilServer()"
      >
        Send valgte
      </button>
    </div>
    <div class="row">
      <div class="col-lg-8 mb-4">
        <div class="d-flex">
          <label class="icon-search mt-2 me-3" for="search-unsent-items"
            ><span class="visually-hidden">Filtrer listen</span></label
          >
          <input
            id="search-unsent-items"
            type="search"
            class="form-control"
            placeholder="Søk etter..."
            [(ngModel)]="sokeord"
            (ngModelChange)="filtrerSesjoner()"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div
        class="col-12 col-md-6 col-lg-4 col-xxl-3 mb-3 mb-md-5"
        *ngFor="let sesjonsvisning of sesjonerFiltrert; index as i"
      >
        <div class="fhi-card h-100">
          <div class="form-check mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              [id]="'chk_' + i"
              [(ngModel)]="sesjonsvisning.erValgt"
              (click)="merkSesjon(sesjonsvisning)"
            />
            <label class="form-check-label" [for]="'chk_' + i">Velg for innsending</label>
          </div>

          <h2 class="h4 mb-0">{{ sesjonsvisning.institusjonsnavn }}</h2>
          <p>Avd: {{ sesjonsvisning.avdelingsnavn }}</p>
          <p class="small">{{ sesjonsnavnMap.get(sesjonsvisning.type) }}</p>

          <div class="mb-2 text-muted small">
            <i class="icon-calendar icon-sm align-top"></i>
            {{ sesjonsvisning.starttidspunkt | date : "dd.MM.yyyy HH:mm:ss" }}
          </div>

          <div class="text-end mt-auto">
            <a
              class="btn fhi-btn-shortcut-link mb-n2"
              [routerLink]="['/' + getSesjonstypeUrl(sesjonsvisning.type)]"
              [queryParams]="{ sesjonId: sesjonsvisning.id }"
            >
              <span class="btn__text">Se detaljer</span>
              <i class="icon-arrow-right me-0 ms-2"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <app-offline-melding
      (harInternettEvent)="erOnline = $event"
      [darkmode]="true"
    ></app-offline-melding>
  </app-sesjonsoversikt>
</div>
